{###################################################################################################################}
{#                        FORMULAIRE POUR LA DESTRUCTION D'UNE NEWSLETTER                                       #}
{###################################################################################################################}
<form method="post" action="{{ path('admin_newsletter_delete', {'id': newsletter.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette newsletter?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ newsletter.id) }}">
    <button class="button is-danger admin-delete" title="Supprimer la newsletter">Supprimer</button>
</form>