{###################################################################################################################}
{#                           FORMULAIRE POUR LA CREATION D'UNE NEWSLETTER                                          #}
{###################################################################################################################}
{{ form_start(form) }}
<div class="field">
    <label class="label">Titre : </label>
    <div class="control">
        {{ form_widget(form.title) }}
    </div>
</div>

  <div class="field">
     <label class="label">Contenu : &nbsp;&nbsp;<span class="content_result"></span> </label>
    <div class="control">
        {{ form_widget(form.content) }}
    </div>
</div>

<div class="field">
    <div class="control">
        {{ form_widget(form.save) }}
    </div>
</div>

{{ form_end(form) }}

{#{% block javascripts %}#}
    {#FCFinder#}
    {#<script src="{{ asset('ckeditor/ckeditor.js') }}"></script>#}
    {#<script>#}
    {#    var urlHome = '../..';#}
    {#    CKEDITOR.replace( 'news_letter_content');#}
    {#</script>#}
{#{% endblock %}#}

