{% extends 'admin_news_letter/index.html.twig' %}

{% block title %}Nouvelle NewsLetter{% endblock %}

{% block body %}
    <div class="container admin-container-new">

        {{ include('admin_news_letter/_form.html.twig') }}
        
        <hr style="border: 1px solid black;">
        <div class="columns">
            <div class="column is-5">
                <a href="{{ path('admin_newsletter') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des newsletters</a>
            </div>
        </div>
    </div>
{% endblock %}
