{% extends 'admin_news_letter/index.html.twig' %}

{% block title %}NewsLetter{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
  <div class="container admin-container">
    <table class="table is-hoverable is-stripped is-responsive">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ newsletter.id }}</td>
            </tr>
            <tr>
                <th scope="row">Auteur</th>
                <td>  {{ newsletter.user.username }}</td>
            <tr>
                <th scope="row">Titre</th>
                <td>{{ newsletter.title }}</td>
            </tr>
            <tr>
                <th scope="row">Contenu</th>
                <td>{{ newsletter.content | raw }}</td>
            </tr>
            <tr>
                <th scope="row">Créée le</th>
                <td>{{ newsletter.createdAt ? newsletter.createdAt|date('d/m/Y  à H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    
    <hr style="border: 1px solid black;">
    <div class="columns">
        <div class="column is-5">
            <a href="{{ path('admin_newsletter') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des newsletters</a>
        </div>
        <div class="column is-2"> 
            <a class="button is-info admin-edit" title="Modifier la newsletter" href="{{ path('admin_newsletter_edit', {'id': newsletter.id}) }}">Editer</a>
        </div>
        <div class="column is-2">
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('admin_news_letter/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}