    {{ form_start(form) }}
    
    <div class="field">
        <label class="label">Email </label>
        <div class="control">
            {{ form_widget(form.email) }}
        </div>
    </div>
    
    <div class="field">
        <div class="control">
            {{ form_widget(form.save) }}
        </div>
    </div>
    
    {{ form_end(form) }}