{% extends 'base.html.twig' %}

{% block body %}

<form action="{{ path('login') }}" method="post" class="form-login">
    <label for="username">Nom d'utilisateur</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" class="input">

    <label for="password">Mot de passe</label>
    <input type="password" id="password" name="_password" class="input">

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <p><button type="submit" class="button">Se connecter</button></p>

    <p class="noAccount"><a href="#" class="popup-link popup-link-darkBG" style="font-size: 0.8em;">Pas encore de compte ?<span class='popup'>Pour des raisons de sécurité la connexion au site est réservée aux clients de la librairie Mot à Mot, veuillez demander vos identifiants à votre libraire préféré(e)</span></a></p>
    <p class="passwordForgotten"><a href="{{ path('passwordForgotten') }}" class="popup-link popup-link-darkBG" style="font-size: 0.8em;">Mot de passe oublié ?</a></p>

</form>

{% endblock %}

{% block search %} {% endblock %}
{% block scriptgoogleapi %}{% endblock %}