{#<h1>oublie de mot de passe</h1>#}

{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

<div class="form-forgotten">
    {{ form_start(form) }}
    
    <div class="field">
        <label class="label">Entrez votre email </label>
        <div class="control">
            {{ form_widget(form.emailoublie) }}
        </div>
    </div>
    
    <p>
        {{ form_widget(form.save) }}
    </p>
        
    {{ form_end(form) }}
    {#{{ include('security/_form.html.twig') }}#}
    
    <p><small style="color:whitesmoke;">(*) Vous allez recevoir un mail pour changer votre mot de passe, surveillez votre messagerie.</small></p> 
</div>


{% endblock %}

{% block search %} {% endblock %}
{% block scriptgoogleapi %}{% endblock %}