{#<h1>oublie de mot de passe</h1>#}

{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

<div class="form-setnew">
    {{ form_start(form) }}
    
    <div class="field">
        <label class="label">Email </label>
        <div class="control">
            {{ form_widget(form.email) }}
        </div>
    </div>

    <div class="field">
        <label class="label">Nouveau mot de passe</label>
        <div class="control">
            {{ form_widget(form.password) }}
        </div>
    </div>
    
    <div class="field">
        <label class="label">Nouveau mot de passe (Vérifier)</label>
        <div class="control">
            {{ form_widget(form.passwordCHK) }}
        </div>
    </div>
    
    <p class="control">
        {{ form_widget(form.save) }}
    </p>

    {{ form_end(form) }}
    
    <p><small style="color:whitesmoke;">(*) Définissez votre nouveau mot de passe </small></p> 
</div>


{% endblock %}

{% block search %} {% endblock %}
{% block scriptgoogleapi %}{% endblock %}