<p>Vous avez fait une demande de renouvellement de mot de passe à l'adresse suivante <strong>{{ emailTo }}</strong></p>
<p>Pour définir un nouveau mot de passe cliquez sur le lien ci-dessous et completez le formuaire <a href="{{ url('passwordSetNew', {'token': token})}}">Définir un nouveau mot de passe</a> </p>