{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block bodyWithAside %}

    <div class="presentation-block">
        <div class="bienvenue">
            <h2>Bienvenue</h2>
            <div>
                <p>Librairie généraliste depuis plus de 30 ans, nous sommes heureux de vous accueillir dans un cadre agréable entièrement dédié aux livres...</p>
                <p>A bientôt !</p>
            </div>
        </div>

        <div class="ouverture">        
            <h2>Ouverture</h2>
            <div>
                <p>Du mardi au samedi</p>
                <p>De 9h à 12h et de 14h30 à 19h</p>
            </div>
        </div>

        
        <div class="coordonnees">        
            <h2>Coordonnées</h2>
            <div>
                <p><i class="fas fa-map-marker-alt"></i> 68 place Mirabeau 84120 PERTUIS</p>
                <p><i class="fas fa-at"></i> contact@mot-a-mot.fr</p>
                <p><i class="fas fa-phone"></i> 04 90 79 02 04</p>
                <p><i class="fas fa-phone"></i> 06 30 78 38 65</p>
            </div>
        </div>
    </div>
    
    <div class="presentation-block">
        <div class="lastEvent">
            <h2>Actualités de la librairie</h2>
            <small class="event-date">Publié le : {{ lastEvent.createdAt  | date('d/m/Y')  }}</small>
            <div class="event-content">{{ lastEvent.content | raw }}</div>
        </div>
    </div>

{% endblock %}



{% block aside %}      

    <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d509.962180368441!2d5.501141886010065!3d43.69430101697227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ca271e560a4c37%3A0x5e9e751a2a5965f2!2sMot+%C3%A0+Mot!5e0!3m2!1sfr!2sfr!4v1525532299019" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
        
    <div class="newsletter">
        <p class="aside-title">Newsletter</p>
        <iframe width="300" height="520" src="https://my.sendinblue.com/users/subscribe/js_id/1sia9/id/4" frameborder="0" scrolling="auto" allowfullscreen style="display: block;margin-left: auto;margin-right: auto;max-width: 100%;"></iframe>
        
    </div>
    
    <div class="instagram">
        <p class="aside-title">Instagram <a href="https://www.instagram.com/librairiemotamot/" target="_blank"><img src="{{ asset('assets/images/intagramjp.png') }}"   alt="logo instagram" class="socialImg"></a> </p>
        <a class="snapwidget" href="https://www.instagram.com/librairiemotamot/" target="_blank">
            <div class="snapwidget-noclick">
                <script src="https://snapwidget.com/js/snapwidget.js"></script>
                <iframe src="https://snapwidget.com/embed/543393" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
            </div>
        </a>
    </div>
    
    <div class="facebook">
        <p class="aside-title">Facebook <a href="https://www.facebook.com/Librairie-Mot-%C3%80-Mot-156883567672298/" target="_blank"><img src="{{ asset('assets/images/faceboockjp.png') }}"  alt="logo faceboock" class="socialImg"></a> </p>  <a href="#" class="popup-link"><i class="fas fa-info"></i><span class='popup'>Si l'encadré facebook ne s'affiche pas, veuillez désactiver votre bloqueur de pub pour cette page</span></a>
        <iframe 
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLibrairie-Mot-%25C3%2580-Mot-156883567672298%2F&tabs=timeline&width=300&height=400&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=false&appId" 
            width="300" 
            height="400" 
            style="border:none;overflow:hidden" 
            scrolling="no" 
            allowTransparency="true" 
            allow="encrypted-media">
        </iframe>
    </div>
    


    
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/waterwheelCarousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/home.js') }}"></script>
{% endblock %}