{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block bodyWithAside %}
<div class="legals">
    <h1 class="title">Mentions Légales</h1>
       
    <h2 class="title subtitle">Objet du site web</h2>
    <p>Le site www.mot-a-mot.fr est le site édité par la librairie Mot à Mot à Pertuis, librairie indépendante. 
    Il a pour vocation de présenter son établissement et proposer une meilleure expérience à ses clients.</p>


    <h2 class="title subtitle">Propriétés</h2>
    <p>Les contenus et les informations de ce site sont protégés par le droit sur la propriété intellectuelle. Il est 
    interdit de les utiliser ou de les reproduire sans l’autorisation expresse et préalable de la librairie Mot à Mot.
    Toute reproduction, utilisation ou représentation, intégrale ou partielle des pages, des données, et d’une manière 
    générale de tout élément constituant ce site sur quelque support que ce soit est strictement interdite sans autorisation 
    préalable de la librairie Mot à Mot.</p>
    
    
    <p>Copyright : © Librairie Mot à Mot – tous droits réservés.
    <p>La violation des droits d’auteurs est constitutive du délit de contrefaçon punie d’une peine de 152449,00 euros 
    d’amende et de 2 ans d’emprisonnement (CPI, articles L. 335-1 et suivant). Des peines complémentaires (fermeture 
    d’établissement, confiscation, affichage de la décision judiciaire) peuvent en outre être prononcées.</p>
    
    
    <h2 class="title subtitle">Informations sur les contenus</h2>
    
    <p>Les textes et les contenus sont présentés à titre indicatif sans valeur contractuelle. Les textes sont valables à la 
    date de leur publication et ne sauraient engager la responsabilité de leurs auteurs ou de la structure représentée. 
    Toutes les informations de ce site peuvent être modifiées à tout moment et sans préavis par la librairie Mot à Mot.</p>
    
    <p>La librairie Mot à Mot ne pourrait être tenu responsable de l’utilisation qui pourrait être faite par un tiers de ces 
    informations qui ne sont données au public qu’à titre indicatif.</p>
    
    
    <h2 class="title subtitle">Vie privée (cookies) & Liens hypertextes</h2>
    <p>D'une façon générale, vous pouvez visiter notre site sur Internet sans avoir à décliner votre identité et à fournir des 
    informations personnelles vous concernant. Cependant, nous pouvons parfois vous demander des informations. Par exemple, pour 
    traiter une commande ou établir une correspondance. Nous pouvons compléter ces informations pour conclure une transaction ou offrir un meilleur service.</p>
    
    <p>Naviguer sur mot-a-mot.fr peut entraîner l’installation de cookies sur l’ordinateur de l’utilisateur pour améliorer son 
    expérience et sa navigation. Un cookie est un petit fichier qui n’identifie pas l’utilisateur mais enregistre des informations 
    relatives à la navigation d’un ordinateur sur un site web. Ces données ainsi obtenues visent aussi à faciliter la navigation 
    ultérieure sur ce site.</p>
    
    <p>Refuser l’installation d’un cookie peut limiter la navigation sur ce site ou empêcher l’utilisateur d’accéder à certains 
    contenus.</p>
    
    <p>Des liens hypertextes contenus dans le site orientent le lecteur vers des ressources internes de la librairie Mot à Mot, 
    ou vers des ressources ou des sites présents sur le réseau internet.</p>
    
    <p>La librairie Mot à Mot décline toute responsabilité concernant :</p>
    <ul>
        <li>les défaillance techniques en relation avec ces liens</li>
        <li>le contenu et l’utilisation qui serait faite par des tiers de ces informations.</li>
    </ul>

    <p>La langue officiel du site est le français et le site est soumis au droit français et relève de la compétence exclusive des juridictions françaises.</p>
    
    
    <h2 class="title subtitle">Navigateurs</h2>
    <p>Ce site est optimisé pour les navigateurs suivants :
    <ul>
        <li>Internet Explorer 11 et Edge</li>
        <li>Firefox</li>
        <li>Safari pour Mac</li>
        <li>Google Chrome</li>
        <li>Opera</li>
    </ul>


    <h2 class="title subtitle">Hébergement</h2>
    <div class="infos">
        <ul>
            <li>OVH - SAS</li>
            <li>2 rue Kellermann</li>
            <li>59100 Roubaix</li>
            <li>France</li>
        </ul>
    </div>



    <h2 class="title subtitle">Developpement du site</h2>
    <p>Le site internet la librairie Mot à Mot a été conçu et réalisé par :</p>
    <ul>
        <li>Joffrey Simonnet (<a href="mailto:web@joffrey-simonnet.fr">web@joffrey-simonnet.fr</a>)</li>
        <li>Cedric Dedenon (<a href="mailto:cedricdedenon@gmail.com">cedricdedenon@gmail.com</a>)</li>
        <li>Jean Pesenti (<a href="mailto:jean-alb@neuf.fr">jean-alb@neuf.fr</a>)</li>
    </ul>


    
    
    <h2 class="title subtitle">Coordonnées</h2>
    <div class="infos">
        <ul>
            <li>Librairie Mot à Mot</li>
            <li>68 place Mirabeau</li>
            <li>84120 PERTUIS</li>
            <li>France</li>
            <li>04 90 79 02 04</li>
            <li>06 30 78 38 65</li>
            <li>Siret : 340977172.00022</li>
            <li>TVA intracommunautaire : FR83340977172</li>
        </ul>
    </div>
 
    
    <p>Pour contacter la librairie Mot à Mot ou poser une question</p>
    <ul>
        <li>par mail : <a href="mailto:contact@mot-a-mot.fr">contact@mot-a-mot.fr</a></li>
        <li>Par le formulaire de contact <a href="{{ path('contact') }}" title="Afficher le formulaire de contact">ici</a></li>
    </ul>

</div>


{% endblock %}



{% block aside %}      

{% endblock %}