<p>Bonjour, vous avez reçu un message de <strong>{{ username }}</strong> : </p>
<p>Nom : {{ lastname }}</p>
<p>Prénom : {{ firstname }}</p>
<p>Mail : {{ emailFrom }}</p>
<div style="border:1px solid black; padding:0.5em;">
    <h2>{{ title }}</h2>
    <p>Auteur : {{ author }}</p>
    <p>Gencode : {{ isbn }}</p>
</div>
<p>Numéro de réference de la commande <strong>ref : {{ commandRef }}</strong> </p>