{#<img src="https://www.casimages.com/i/180513041519808882.png.html">#}

<p>Bonjour, vous venez de passer une commande auprès de la librairie Mot à Mot pour le livre suivant :</p>
<div style="border:1px solid black; padding:0.5em;">
    <h2>{{ title }}</h2>
    <p>Auteur : {{ author }}</p>
    <p>Gencode : {{ isbn }}</p>
</div>
<p>Numéro de réference de la commande <strong>ref : {{ commandRef }}</strong> </p>
<p>Nous vous informerons dès que possible de la disponibilité en magasin</p>

<p>A bientôt, toute l'équipe</p>