{###################################################################################################################}
{#                        FORMULAIRE POUR LA DESTRUCTION D'UNE ACTUALITE                                           #}
{###################################################################################################################}
<form method="post" action="{{ path('admin_evenement_delete', {'id': evenement.id}) }}" onsubmit="return confirm('Etes-vous sûr de bien supprimer cet événément?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evenement.id) }}">
    <button class="button is-danger admin-delete" title="Supprimer l'actualité">Supprimer</button>
</form>