{% extends 'admin_evenement/index.html.twig' %}

{% block title %}Résultat de votre recherche{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS DE LA RECHERCHE SUR FORME DE TABLEAU                                #}
{###################################################################################################################}
{% block body %}
    <div class="container admin-container">
    {% if evenements %}
        <form method="POST">
            <div class="admin-pagination">
                <label class="label">Résultats par page :</label>
                <div class="select">
                    <select name="limit">
                        {% for i in [10,20,50,100]  %}
                            {% if i == limit%}
                                <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <button type="submit" class="button is-info">OK</button>
            </div>
        </form> 
        
        <section class="section">
            <table class="table is-fullwidth is-hoverable is-stripped is-responsive">
                <thead>
                    <tr>
                        <th scope="col">Titre</th>
                        <th scope="col">Créée le</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for evenement in evenements %}
                        <tr>
                            <td> {{ evenement.user.username }} </td>
                            <td> {{ evenement.title  | striptags | split(' ') | slice(0, 5) | join(' ') }} </td>
                            <td> {{ evenement.createdAt | date('d/m/Y')  }} </td>
                            <td>
                                <a class="button is-info admin-show" title="Voir en détails l'actualité" href=" {{ path('admin_evenement_show', {'id': evenement.id}) }}">Voir</a>
                            </td>
                            <td>
                                <a class="button is-info admin-edit"  title="Modifier l'actualité" href=" {{ path('admin_evenement_edit', {'id': evenement.id}) }}">Editer</a>
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    {{ include('admin_evenement/_delete_form.html.twig') }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}
    
    <a href="{{ path('admin_evenement') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page d'actualité</a>
    
    <hr style="border: 1px solid black;">
    
    {###################################################################################################################}
    {#                                         PAGINATION                                                              #}
    {###################################################################################################################}
    {% if maxPage > 1  %}
        <nav class="pagination" role="navigation" aria-label="pagination">
            <ul class="pagination-list">
                {% for i in 1..maxPage  %}
                <li>
                    {% if i == page%}
                        <a class="pagination-link is-current" href="{{ path('admin_evenement') }}?s={{ search }}&page={{ i }}&limit={{limit}}"> {{ i }} </a>
                    {% else %}
                        <a class="pagination-link" href="{{ path('admin_evenement') }}?s={{ search }}&page={{ i }}&limit={{limit}}"> {{ i }} </a>
                    {% endif %}
                </li>
                {% endfor%}
            </ul>
        </nav>
    {% endif %}
    </div>
{% endblock %}



