{% extends 'admin_evenement/index.html.twig' %}

{% block title %}Evénement{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
  <div class="container admin-container is-responsive">
    <table class="table is-hoverable is-stripped is-responsive">
        <tbody>
            <tr>
                <th scope="row">Titre</th>
                <td>{{ evenement.title }}</td>
            </tr>
            <tr>
                <th scope="row">Contenu</th>
                <td>{{ evenement.content | raw }}</td>
            </tr>
            <tr>
                <th scope="row">Créé le</th>
                <td>{{ evenement.createdAt ? evenement.createdAt|date('d/m/Y à H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <hr style="border: 1px solid black;">
    <div class="columns">
        <div class="column is-5">
            <a href="{{ path('admin_evenement') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page d'événements</a>
        </div>
        <div class="column is-2">
            <a class="button is-info admin-edit" title="Modifier l'actualité" href="{{ path('admin_evenement_edit', {'id': evenement.id}) }}">Editer</a>
        </div>
        <div class="column is-2">
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('admin_evenement/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}