{% extends 'admin_events/index.html.twig' %}

{% block title %}Edition actualités{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
    <div class="container admin-container-new">

    {{ include('admin_events/_form.html.twig', {'button_label': 'Update'}) }}

        <hr style="border: 1px solid black;">
        <div class="columns">
            <div class="column is-5">
                <a href="{{ path('admin_events') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page d'actualité</a>
            </div>
            <div class="column">
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('admin_events/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    
    </div>
{% endblock %}

{#{% block javascripts %}#}
{#    <script src="{{ asset('ckeditor/ckeditor.js') }}"></script>#}
{#    <script>#}
{#        var urlHome = '../../..';#}
{#        CKEDITOR.replace( 'events_content');#}
{#    </script>        #}
{#{% endblock %}#}