{% extends 'admin.html.twig' %}

{% block title %}Admin Actualités{% endblock %}

{###################################################################################################################}
{#                         HEADER (BOUTON AJOUTER + BARRE DE RECHERCHE)                                            #}
{###################################################################################################################}
{% block header %}
<div class="container">
    <h1 class="title">Actualités</h1>
    <form method="GET" class="admin-search">
        <div class="field">
            <div class="control">
                <a class="button is-light" href= "{{ path('admin_events_new') }}" title="Ajouter une actualité">Nouvelle actualité</a>
            </div>
        </div>
        
        <div class="admin-searchBarButton">
            <div class="field">
                <div class="control has-icons-left admin-searchBar">
                    <input type="search" placeholder="Rechercher une actualité" name='s'  id="searchEv" class="input">
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
            
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-light" title="Rechercher une actualité">Rechercher</button>
                    <a href="#" class="popup-link"><i class="fas fa-info"></i>
                        <span class='popup'>Rechercher parmis le titre, le contenu, la date ou l'auteur de l'actualité</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>  
{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
    {% if events %}
    <div class="container admin-container">
        <form method="POST">
            <div class="admin-pagination">
                <label class="label">Résultats par page :</label>
                <div class="select">
                    <select name="limit">
                        {% for i in [20,50,100]  %}
                            {% if i == limit%}
                                <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <button type="submit" class="button is-info" title="Valider la pagination">OK</button>
            </div>
        </form> 
    
        <section class="section">
            <div class="responsive-table">
                <table class="table is-fullwidth is-hoverable is-stripped">
                    <thead>
                        <tr>
                            <th scope="col">Auteur</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Créée le</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr>
                                <td> {{ event.user.username }} </td>
                                <td> {{ event.title  | striptags | split(' ') | slice(0, 5) | join(' ') }} </td>
                                <td> {{ event.createdAt | date('d/m/Y')  }} </td>
                                <td>
                                    <a class="button is-info admin-show" href=" {{ path('admin_events_show', {'id': event.id}) }}" title="Voir en détails l'actualité">Voir</a>
                                </td>
                                <td>
                                    <a class="button is-info admin-edit" href=" {{ path('admin_events_edit', {'id': event.id}) }}" title="Modifier l'actualité">Editer</a>
                                </td>
                                <td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        {{ include('admin_events/_delete_form.html.twig') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <hr style="border: 1px solid black;">
        
        {###################################################################################################################}
        {#                                         PAGINATION                                                              #}
        {###################################################################################################################}
        {% if maxPage > 1  %}
            <nav class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    {% for i in 1..maxPage  %}
                    <li>
                        {% if i == page%}
                            <a class="pagination-link is-current" href="{{ path('admin_events') }}?page={{ i }}&limit={{limit}}" title="Page {{i}}"> {{ i }} </a>
                        {% else %}
                            <a class="pagination-link" href="{{ path('admin_events') }}?page={{ i }}&limit={{limit}}" title="Aller à la page {{i}}"> {{ i }} </a>
                        {% endif %}
                    </li>
                    {% endfor%}
                </ul>   
                </nav>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}

