{% extends 'admin_events/index.html.twig' %}

{% block title %}Nouvelle actualité{% endblock %}

{% block body %}
    <div class="container admin-container-new">

    {{ include('admin_events/_form.html.twig') }}
    
        <hr style="border: 1px solid black;">
        <div class="columns">
            <div class="column is-5">
                <a href="{{ path('admin_events') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page d'actualité</a>
            </div>
        </div>
    </div>
{% endblock %}