{% extends 'admin_events/index.html.twig' %}

{% block title %}Actualité{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
  <div class="container admin-container is-responsive">
    <table class="table is-hoverable is-stripped is-responsive">
        <tbody>
            <tr>
                <th scope="row">Id</th>
                <td>{{ event.id }}</td>
            </tr>
            <tr>
                <th scope="row">Utilisateur</th>
                <td>{{ event.user.username }}</td>
            </tr>
            <tr>
                <th scope="row">Titre</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th scope="row">Contenu</th>
                <td>{{ event.content | raw }}</td>
            </tr>
            <tr>
                <th scope="row">Créée le</th>
                <td>{{ event.createdAt ? event.createdAt|date('d/m/Y à H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <hr style="border: 1px solid black;">
    <div class="columns">
        <div class="column is-5">
            <a href="{{ path('admin_events') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page d'actualité</a>
        </div>
        <div class="column is-2">
            <a class="button is-info admin-edit" title="Modifier l'actualité" href="{{ path('admin_events_edit', {'id': event.id}) }}">Editer</a>
        </div>
        <div class="column is-2">
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('admin_events/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}