{% extends 'base.html.twig' %}



{% block title %}Evénements à venir{% endblock %}

{% block body %}

    {#<div class="presentation-block">#}
    {#    <div class="next-evenements">#}
    {#        <h2>&Eacute;vénements à venir</h2>#}
    {#    </div>#}
    {#</div>#}
    {% if evenementsNext %}
    <div class="presentation-block prev-evenements-title">
        <div class="prev-evenements">
            <h2>&Eacute;vénements à venir</h2>
        </div>
    </div>
    {% else %}
    <div class="presentation-block prev-evenements-title">
        <div class="prev-evenements">
            <h2>Aucun &Eacute;vénements à venir</h2>
        </div>
    </div>
    {% endif %}
    
    
    {% for evenement in evenementsNext %}
        <div class="presentation-block evenement-block">
            <div class="lastEvent">
                <h3 class="subtitle">{{ evenement.title }}</h3>
                <span class="event-date">
                    {% set difference = date(dateNow).diff(date(evenement.createdAt)) %}
                    {% set leftDays = difference.days %}
                    {% if leftDays == 0 %}
                        Aujourd'hui
                    {% elseif leftDays == 1 %}
                        Demain
                    {% else %}
                        Dans {{ leftDays }} jours
                    {% endif %}
                        le {{ evenement.createdAt  | date('d/m/Y')  }}
                </span>
                <div class="event-content">{{ evenement.content | raw }}</div>
            </div>
        </div>
    {% endfor %}



    {% if evenementsPrev %}
    <div class="presentation-block prev-evenements-title">
        <div class="prev-evenements">
            <h2>Archives</h2>
        </div>
    </div>
    {% else %}
    <div class="presentation-block prev-evenements-title">
        <div class="prev-evenements">
            <h2>Aucun événement archivé</h2>
        </div>
    </div>
    {% endif %}
    
    
    {% for evenement in evenementsPrev %}
        <div class="presentation-block evenement-block">
            <div class="lastEvent">
                <h3 class="subtitle">{{ evenement.title }}</h3>
                <span class="event-date">
                    {% set difference = date(evenement.createdAt).diff(date(dateNow)) %}
                    {% set daysAgo = difference.days  %}
                    {% if daysAgo == 0 %}
                        Hier
                    {% else %}
                        Il y a {{ daysAgo +1 }} jours
                    {% endif %}
                     le {{ evenement.createdAt  | date('d/m/Y')  }}
                </span>
                <div class="event-content">{{ evenement.content | raw }}</div>
            </div>
        </div>
    {% endfor %}


     
{% endblock %}



    


{% block stylesheets %}

{% endblock %}

{% block javascripts %}
   
{% endblock %}
