{###################################################################################################################}
{#                        FORMULAIRE POUR LA DESTRUCTION D'UNE CATEGORIE                                           #}
{###################################################################################################################}
<form method="post" action="{{ path('admin_category_delete', {'id': category.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cette catégorie?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="button is-danger admin-delete" title="Supprimer la catégorie">Supprimer</button>
</form>