{###################################################################################################################}
{#                           FORMULAIRE POUR LA CREATION D'UNE CATEGORIE                                           #}
{###################################################################################################################}
{{ form_start(form) }}
<div class="field">
    <label class="label">Nom : </label>
    <div class="control">
        {{ form_widget(form.name) }}
    </div>
</div>
{{ form_end(form) }}