{% extends 'admin_category/index.html.twig' %}

{% block title %}Edition catégorie{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
    <div class="container admin-container-new">
        {{ include('admin_category/_form.html.twig', {'button_label': 'Update'}) }}
    
        <hr style="border: 1px solid black;">
        <div class="columns">
            <div class="column is-5">
                <a href="{{ path('admin_category') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des catégories</a>
            </div>
            <div class="column">
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('admin_category/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}