{% extends 'admin.html.twig' %}

{% block title %}Admin catégorie{% endblock %}

{###################################################################################################################}
{#                                            HEADER                                                               #}
{###################################################################################################################}
{% block header %}
<div class="container">
    <h1 class="title">Catégories</h1>
    <div class="field">
        <div class="control">
            <a class="button is-light " href= " {{ path('admin_category_new') }}" title="Ajouter une catégorie">Nouvelle catégorie</a>
        </div>
    </div>
</div>  
{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
    {% if categories %}
    <div class="container admin-container">
        <section class="section">
            <div class="responsive-table">
                <table class="table is-hoverable is-stripped" style="max-width:500px; margin:auto;">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Nom</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for category in categories %}
                            <tr>
                                <td>{{ category.id }}</td>
                                <td>{{ category.name }}</td>
                                {#<td>#}
                                {#    <a class="button is-info admin-show"  href="{{ path('admin_category_show', {'id': category.id}) }}" title="Voir en détails la catégorie">Voir</a>#}
                                {#</td>#}
                                <td>
                                    <a class="button is-info admin-edit"  href="{{ path('admin_category_edit', {'id': category.id}) }}" title="Modifier la catégorie">Editer</a>
                                </td>
                                <td>
                                    {% if (is_granted('ROLE_ADMIN') and category.id != 1) %}
                                        {{ include('admin_category/_delete_form.html.twig') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
     </div>
    {% endif %}
{% endblock %}