{% extends 'admin_category/index.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <div class="container admin-container-new">
        {{ include('admin_category/_form.html.twig') }}
       
        <hr style="border: 1px solid black;">
        <div class="columns">
            <div class="column is-5">
                <a href="{{ path('admin_category') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des catégories</a>
            </div>
        </div>
    </div>
{% endblock %}