{% extends 'admin_category/index.html.twig' %}

{% block title %}Categorie{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
<div class="container admin-container">
    <h1>Categories</h1>

    <table class="table is-hoverable is-stripped is-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>
    
    <hr style="border: 1px solid black;">
    <div class="columns">
        <div class="column is-5">
            <a href="{{ path('admin_category') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des catégories</a>
        </div>
        <div class="column is-2">
            <a class="button is-info admin-edit" title="Modifier la catégorie" href="{{ path('admin_category_edit', {'id': category.id}) }}">Editer</a>
        </div>
        <div class="column is-2">
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('admin_category/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}