/* FICHIER STYLE .LESS*/
@colorContent: rgba(0,0,0,.8);
@colorContentLight: rgba(0,0,0,.5);
@colorBorder: rgba(255, 255, 255,.7);
@colorClassic: rgba(0, 71, 178, 1);
// @colorTitle: rgba(0, 93, 153,1);
@colorTitle50: rgba(0, 93, 153,0.5);
@colorTitle: rgba(239,83,80,1);
// @colorTitle50: rgba(239,83,80,0.8);
// @colorTitle: rgba(238,238,238,1);



/* POLICES PERSONNALISEES */
@font-face {
    font-family: 'mistral';
    src: url('../font/mistral-webfont.woff2') format('woff2'),
         url('../font/mistral-webfont.woff') format('woff'),
         url('../font/mistral.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/*
****************************************************************************
       PUBLIC - GLOBAL
****************************************************************************
*/
body{
    background-image: url('../images/libfond.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position: center;
    padding-bottom: 50px;

	font-family: 'Roboto', sans-serif !important;
	
	min-height: 100vh;
}


.body-container{
    margin-top: 5em;
    margin-bottom: 5em;
    .is-four-fifths{
        width: 72.7%;
    }
}

.results, .advancedResearch, .addHeartStrokeForm, .formLocation{
    display: none;
}

.results{
    padding: 1em;
    margin: 1em auto;
    border: solid 1px #999;
    border-radius: 5px;
}

.select_this>td{
    font-size: 0.8em;
}

.card-content{
    margin-bottom: 1em;
}

.clearfix{
    clear: both;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 0.5em;
}


@media screen and (max-width: 1200px)
{
    .body-container{
        .columns{
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
    }
}


/*_____________________ INFOBULLE (Popup) _______________________*/

.popup-link{
    display: inline-block;
    background-color: rgba(0,0,0,0.1);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.1);
    font-size: 0.5rem;
    font-weight: lighter;
    color:royalblue;
    padding: 1px 4px;
    margin-left: 3px;
    margin-right: 3px;
}

.popup-link-darkBG{
    color:whitesmoke;
}

a span.popup{
    font-size: 1rem;
	position:absolute;
	margin-top:23px;
	margin-left:-35px;
	font-weight: normal;
	color:whitesmoke;
	background:rgba(0,0,0,.8);
	padding:15px;
	border-radius:3px;
	box-shadow:1px 1px 2px rgba(0,0,0,0.5);
	opacity:0;
	max-width: 500px;
	min-width: 200px;
	transition: all .20s ease-in;
	transform: scale(0) rotate(-12deg);
	z-index: 100;
}

a:hover span.popup, a:focus span.popup{
	transform:scale(1) rotate(0);
	opacity:1;
}


                                                                                                                                    

/*
****************************************************************************
       PUBLIC - HEADER
****************************************************************************
*/
.navbar{
    z-index: 0;
}

.header-home{
    background-image: url("../images/papillon.png");
    background-color: white;
    width: 100%;
    height: 120px;
    padding: 1em;
    text-align: center;
    h1{
        font-weight: 500;
    }
}

.libmot{
    box-sizing: border-box;
    display: inline-block;
    font-family: 'mistral';
    font-size: 6em;
    line-height: 1em;
}

.logjpg{
    height: 100%;
    float: left;
}navbar-brand 
    
.home-navBar{
    // padding-left: 15px;
}

.home-navBar #navMenubd a{
    font-size: 1.3em;
    z-index: 5;
}

.home-navBar #navMenubd a, .home-navBar .home-brand a{
    position: relative;
}

.home-navBar #navMenubd img, .home-navBar .home-brand img{
    opacity:0;
    position: absolute;
    top: -56px;
    left: 25px;
}

.home-navBar #navMenubd a:hover img,
.home-navBar .home-brand a:hover img{
    opacity: 1;
    -webkit-transform: scale(3); 
	transition:  all 0.1s ease; 
}

.show_desktop{
    display: none;
}

.active{
    border-bottom: 3px solid white;
}

@media screen and (max-width: 1200px)
{
    .home-navBar #navMenubd{
        padding:0 1em;
    }
}


@media screen and (max-width: 1087px){
    .hide_mobile{
        display: none;
    }
    .show_desktop{
        display: block;
        color: #FFF;
    }
}    

@media screen and (max-width: 800px){
    .libmot{
        font-size: 4em;
        line-height: 1.6em;
    }
}    

@media screen and (max-width: 600px){
    .header-home{
        display: block;
        min-height: 250px;
    }
    .logjpg {
        width: 100px;
        height: auto; 
        float: none;
    }
    .libmot{
        line-height: 1em;
    }
}   


/*
****************************************************************************
       PUBLIC - FOOTER
****************************************************************************
*/

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 0;
    width: 100%;
    height: 3.5em;
    color:white;
    background-color: @colorContent;
    // vertical-align: middle;
    text-align: center;
    
    small{
        display: inline;
        color: white;
        font-size: 0.8em;
        line-height: 1.5em;
    }
    
    img{
        float: right;
        margin-right: 50px;
        height: 1.5em;
    }
    
    a{
        color: #EEE;
        text-decoration: underline dotted;
    }
}

@media screen and (max-width: 1200px)
{
    footer{
        height: 1.5em;
        padding-top: 0;
        padding-bottom: 0;
        img{
            display: none;
        }
    }
}

@media screen and (max-width: 600px)
{
    footer{
        position: relative;
    }
}



/*
****************************************************************************
       PUBLIC - PAGE HOME
****************************************************************************
*/

.presentation-block{
    display: flex;
    flex-wrap: wrap;
    
    background-color: @colorContent;
    opacity: 0.95;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 1px 1px 2px @colorContent;
    
    padding: 1.5em;
    margin-top: 1em;
    margin-bottom: 3em;
    
    
    h2{
        line-height: 1.5em;
        display: block;
        text-align: center;
        margin-top: 0.5em;
        font-weight: 500;
        font-size: 2.2rem;
        font-variant: small-caps;
        color: @colorTitle;
        text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
        vertical-align: bottom;
    }
    
    .bienvenue{
        h2{
            margin-top: 0;
            width: 100%;
        }
    }
    .ouverture{
        width: 48%;
        margin-right: 2%;
    }
    
    .coordonnees{
        width: 48%;
        margin-left: 2%;
    }
    
    .new-heart, .next-evenements, .prev-evenements{
        margin: auto;
        h2{
            margin-top: 0;
            line-height: 1em;
        }
    }
    

    div >div{
        background-color: whitesmoke;
        box-shadow: 1px 1px 2px solid black;
        border-radius: 2px;
        padding: 1em;
        h2{
            line-height: 2.5em;
            display: block;
            text-align: center;
            font-weight: 500;
            font-size: 2.5rem;
            font-variant: small-caps;
            color: @colorTitle;
        }
        iframe{
            border: 1px solid @colorBorder;
            border-radius: 5px;
        }
    }

    .event-date{
        color: #DDD;
    }

    .lastEvent{
        margin-top: 0;
        width: 100%;
        h3.subtitle{
            color: @colorTitle;
            text-align: center;
            font-size: 2em;
            font-variant: small-caps;
        }
        .event-content{
            width: 100%;
        }
        .event-content:after{
            clear: both;
            content: "";
            display: table;
        }

    }

}

.prev-evenements-title{
    margin-top: 5em;
}

.evenement-block{
    margin-bottom: 1em;
}


.headerhome{
    width: 100%;
    padding: 1em;
}




.actus{
    color:white;
}


@media screen and (max-width: 1200px)
{
    .is-four-fifths{
        width: 100% !important;
    }
}

    



/*
****************************************************************************
       PUBLIC - PAGE HOME - ASIDE
****************************************************************************
*/


aside{
    >div{
        background-color: @colorContent;
        border: 1px solid @colorBorder;
        border-radius: 5px;
        box-shadow: 1px 1px 2px @colorContent;
        padding: 1.5em;
        margin-top: 1em;
        iframe{
            box-shadow: 1px 1px 2px black;
            border-radius: 5px;
        }
    }
    
    .instagram, .facebook, .newsletter{
        min-height: 400px!important;
        .aside-title{
            line-height: 2em;
            color: #EEE;
            text-shadow: 1px 1px 2px #333;
            font-weight: 400;
            font-size: 1.8rem;
            font-variant: small-caps;
            text-align: center;
        }
        .socialImg{
            max-width:30px;
            margin-right:20px;
        }
        iframe{
            display:block;
            margin: auto;
        }
    }

    .snapwidget-noclick{
        pointer-events: none;
    }
}

@media screen and (max-width: 1200px)
{
    .google-map, .instagram, .facebook, .newsletter{
        margin: 1em 1em 0;
    }
    .google-map{
        iframe{
            width: 100%;
        }
    }
    
    .body-container .column{
        padding: 0;
    }
}



/*
****************************************************************************
       PUBLIC - MENU DE RECHERCHE
****************************************************************************
*/
.fullWigth{
    width: 100%;
    background-color: @colorContent;
    box-shadow: 1px 1px 2px black;
}

.searchAll{
    padding: 0.5em 0;
    margin-bottom: 1em;
    .searchbar{
        margin-bottom: 0;
        input.simple-search{
            max-width: 400px;
        }
    }
    .advancedResearch{
        margin-top: 0.5em;
        padding: 0.3em;
        
        .searchByField, .searchByGencode{
            // background-color: @colorContent;
            border-radius: 0.3em;
            border: 1px solid @colorBorder;
            box-shadow: 1px 1px 2px black;
            margin: 0.5em 0.5em 0 0.5em;
            .search-subtitle{
                color: @colorTitle;
                font-weight: bolder;
                font-size: 1.5em;
                // text-shadow: 1px 1px 2px black;
                text-align: center;
                margin-bottom: 1em;
            }
        }
    }
    .columns{
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1200px)
{
    .searchAll{
        padding: 0.5em 1em;
    }
}



/*
****************************************************************************
       PUBLIC - AFFICHAGE DES RESULTATS DE RECHERCHE
****************************************************************************
*/

.results{
    .nbResponses{
        color: #EEE;
        text-shadow: 1px 1px 2px #333;
        font-weight: bold;
    }
   .result-content{
        max-height: 10em;
        overflow-y: auto;
    }
    .detail-title{
        display: inline-block;
        width: 4.5em;
        // color: @colorTitle;
        font-weight: bold;
    }
    img{
        box-shadow: 1px 1px 2px black;
    }
    
    .command-button{
        margin-top: 1em;
        float: right;
    }
    
    .media-content p.title{
        color: @colorTitle;
    }
}


/*
****************************************************************************
       PUBLIC - LOGIN
****************************************************************************
*/

.form-login, .form-forgotten, .form-setnew{
    background-color: @colorContent;
    border: 1px solid @colorBorder;
    border-radius: 0.3em;
    box-shadow: 1px 1px 2px black;
    padding: 2em;
    max-width: 500px;
    margin: auto;
    label{
        color: @colorTitle;
    }
    input{
        margin-bottom: 0.5em;
    }
    p{
        text-align: center;
        padding: 0.2em;
    }
}




/*
****************************************************************************
       PUBLIC - PAGE COUPS DE COEUR - LISTE
****************************************************************************
*/
.hsCategories{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.oneCategory{
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 45%;
    margin-bottom: 5em;
    background-color: @colorContent;
    border: 1px solid @colorBorder;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 1px 1px 2px @colorContent;
    .close_cross{
        float: right;
        display: none;
    }
    .contentCategory{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .nextHeartstrokes{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nextHeartstrokesButton{
        border-radius: 4px 0 0 4px;
    }
    select{
        border-radius: 0 4px 4px 0;
    }
}

.coverAndTitle{
    max-width: 150px;
    color: #EEE;
    text-align: center;
    margin-bottom: 1em;
}



.heartstroke-title{
    display: block;
    margin: 0 auto 1em!important;
    text-align: center;
    font-weight: 200;
    // text-shadow: 2px 2px 1px black;
    color: @colorTitle !important;
}

.heartstroke-img{
	object-fit: fill;
	margin: 0;
	border: 1px solid #eee;
	background-color: #eee;
	border-radius: 4px;
	padding: 5px;
}
.heartstroke-img:hover{
    cursor: pointer;
    box-shadow: 0 0 5px 1px @colorTitle;
    filter: contrast(115%);
}



/*
****************************************************************************
       PUBLIC - PAGE COUPS DE COEUR - MODAL
****************************************************************************
*/
.modal-heartstroke{
    display: flex;
    flex-direction:column;
    z-index: 99999999999;
    
    .modal-heartstroke-head{
        border-bottom: 3px solid rgba(100,100,100,0.5);
        padding: 1em;
        background-color: @colorContent;
        // background-color: @colorTitle;
        // background-color: rgba(0, 93, 153,1);
        color: @colorTitle!important;
        
        h2{
            font-size: 2em;
        }
    }
    
    .modal-heartstroke-body{
        display: flex;
        padding: 1em 0;
        border-bottom: 3px solid rgba(100,100,100,0.5);
        figure{
            width: 150px!important;
            padding-left: 1em;
        }
        
        figure img{
            width: 100%;
            box-shadow: 1px 1px 2px @colorContent;
        }
        
        article{
            flex:1;
            padding: 0 1em;
        }
        
        blockquote{
            padding: 0 0.5em;
            margin-top: 1em;
            border-left: 3px solid @colorTitle;
            text-align: justify;
            background-color: #DDD;
            
            .heartstrokeDate{
                color: #000;
                font-size: 0.7em;
            }
        }
    }
    
    .modal-heartstroke-description{
        text-align: justify;
        padding: 1em;
    }
    
    .detail-title{
        display: inline-block;
        width: 4em;
        // color: royalblue;
        font-weight: bold;
    }
    
    .quote-title{
        // color: royalblue;
        font-weight: bold;
    }
    
    .heartstroke-command{
        display: inline-block;
        width: 120px;
        margin: 0 auto 1em;
    }
}


/*
****************************************************************************
        PUBLIC - PAGE CONTACT
****************************************************************************
*/
.container-contact{
    display: flex;
    flex-direction: column;
}

.contactInformations{
    display: flex;
    background-color: @colorContent;
    border: 1px solid @colorBorder;
    border-radius: 5px;
    box-shadow: 1px 1px 2px @colorContent;
    padding: 1.5em 1.5em 0 1.5em;
    margin: 0.5em 0 0.5em 1em;
    color: whitesmoke;
    
    .contactSummary, .contactMap{
        display: flex;
        flex-direction: column;
        >div{
            >div.content{
                background-color: whitesmoke;
                color: #333;
                box-shadow: 1px 1px 2px solid black;
                border-radius: 2px;
                margin-bottom : 1.5em;
                padding: 1em;
            }
            .subtitle{
                font-weight: 400;
                font-size: 1.8rem;
                text-align: center;
                font-variant: small-caps;
                margin-bottom : 0.5rem!important;
                color:@colorTitle;
            }
        }

        iframe, .coordLibrairie{
            box-shadow: 1px 1px 2px solid black;
            border-radius: 2px;
        }
        iframe, .coord{
            margin-left: 1.5em;
        }
        .reseaux{
            display: flex;
            justify-content: space-around;
            .socialImg{
                margin-bottom: 1.5em;
            }
        }
        
    }
    .contactMap{
        margin-top: 43px;
    }
}

.contactForm{
    background-color: @colorContent;
    border: 1px solid @colorBorder;
    border-radius: 5px;
    box-shadow: 1px 1px 2px @colorContent;
    min-width: 25%;
    padding: 1.5em;
    margin: 0.5em 0 0.5em 1em;
    
    .contact-title{
        // background-color: #EEE;
        padding: 0.5em 1em;
        box-shadow: 1px 1px 2px solid black;
        border-radius: 2px;
        text-align: center;
        
        .title{
            color: @colorTitle;
            font-weight: 400;
            font-size: 1.8rem;
            font-variant: small-caps;
        }
    }

    form{
        max-width: 720px;
        margin: 1.5em auto;
        .label{
            color: whitesmoke;
            text-shadow: 1px 1px 2px black;
        }
        
        .select, #contact_title{
            width: 100%!important;   
        }
    }
}

.map {
    -webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}


@media screen and (max-width: 800px)
{
    .contactInformations{
        flex-wrap: wrap;
        .contactSummary, .contactMap{
            
            >div{
                width: 100%;
            }
            iframe, .coordLibrairie{
                width: 100%;
                margin: 0 0 1.5em;
            }
        }
        .contactMap{
            width: 100%;
            margin: auto;
        }
    }
}

@media screen and (max-width: 1200px)
{
    .contactInformations, .contactForm{
        margin-left: 1em;
        margin-right: 1em!important;
        
    }
}

/*
****************************************************************************
        PAGE -  MENTIONS LEGALES
****************************************************************************
*/

.legals{
    background-color: @colorContent;
    border: 1px solid @colorBorder;
    border-radius: 5px;
    padding: 1.5em;
    margin: 0.5em;
    color: #EEE;
    .title{
        color: @colorTitle;
    }
    .subtitle{
        font-size: 1.5em;
        margin-top: 3em;
    }
    p{
        justify-content: justify;
    }
    ul{
        padding-left: 2em;
        li{
            list-style: square;
        }
    }
    .infos{
        ul{
            border-left: 2px solid #EEE;
            margin-bottom: 1em;
        }
        li{
            list-style: none;
        }
    }
    a{
        color: #EEE;
        text-decoration: underline dotted;
    }
}

/*
****************************************************************************
        ADMIN - PAGE COUP DE COEUR
****************************************************************************
*/

.addHeartstroke{
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}

.searchByField, .searchByGencode{
    margin: 0.5em 0.5em 0 0.5em;
}
.search-subtitle{
    color: @colorContent;
    font-weight: bolder;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 1em;
}

.select_this{
    cursor: pointer;
}

.addStepInfo{
    display: inline-block;
    padding: 0.2em 0.3em;
    border: 1px solid rgba(0, 0, 0,.3);
    background-color: #209cee;
    border-radius: 5px;
    color: whitesmoke;
}

.StepInfo2, .StepInfo3{
    display: none;
}

/*
****************************************************************************
                            ADMIN
****************************************************************************
*/
.navBorder{
    border-right: 1px solid gray;
}

a.navbar-item:hover {
    background-color: gray;
}

.navbar-menu{
    text-align: center;
}

.navbar-menu a{
    border-top: 1px solid gray;    
}

.navbar-menu .navbar-item a{
    border: none;
}

header.hero .hero-body{
    padding: 1rem 0.5rem!important;
}

.section {
    padding: 1rem 0.5rem;
}

.is-responsive img{
    width: 80px;
    height: auto;
}

.admin-home ul, .admin-home li{
    list-style-type: disc;
    margin: 0.5em 0;
    padding-left: 20px;
    list-style-position: inside;
}

.admin-home-nota{
    border: 1px dashed black;
    padding: 10px;
}

.admin-container, .admin-container-new{
    background-color: #FFF;
    margin-top: 20px;
    padding: 30px;
    border-radius: 20px;
}

.admin-container form{
    display: flex;
    flex-wrap: nowrap;
}

.admin-container form label,
.admin-container form .select,
.admin-container form button{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.admin-container .admin-pagination{
    display: flex;
    align-items: center;
    margin-right: 10px;
    flex: 1;
}

.admin-search{
    display: flex;
}

.admin-searchBarButton{
    display: flex;
    justify-content: flex-end;
}

.admin-search .field{
    display: flex;
    flex: 1;
}

.admin-searchBar{
    margin-right: 20px;
    max-width: 600px;
    min-width: 280px;
}

.fa-asterisk{
    color: red;
    font-size:  0.4em;
}

td>.fa-check{
    color: green;
}

td>.fa-times{
    color: red;
}

.admin-footer{
    padding: 10px;
    background-color: black;
}

table td img{
    max-height: 120px;
}


@media screen and (max-width: 1200px)
{
    .responsive-table{
        margin:10px auto;
        width:100%;
        overflow: auto;
        table{
            margin:0px;
            width:100%;
        }
    }

    
    .admin-show, .admin-delete, .admin-edit{
        max-width: 100px;
        width: 100px;
    }
    
    .admin-show-footer{
        displex: flex;
        flex-direction: column;
    }
    
    .navbar-end{
        border-top: 1px solid gray; 
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    // PAGE COUPS DE COEUR
    .hsCategories, .presentation-block{
        margin-left: 1em;        
        margin-right: 1em;
    }

    .body-container .columns{
        flex-direction: column;
    }
    
    .oneCategory{
        width: 100%;
        .columns{
            flex-direction:row;
        }
    }
    
    // PAGE CONTACT
    .container-contact{
        flex-direction:column;
    }

}


@media screen and (max-width: 600px)
{
    .admin-search,
    .admin-searchBarButton{
        display: flex;
        flex-direction:column;
        flex-wrap: nowrap;
    }
}




/*
****************************************************************************
                            CAROUSSEL
****************************************************************************
*/

#carousel {
    margin: -3em auto 2em;
    width:100%;
    height:300px;
    position:relative;
    clear:both;
    overflow:hidden;
    background:transparent;
    img {
        visibility:hidden; /* hide images until carousel can handle them */
        cursor:pointer; /* otherwise it's not as obvious items can be clicked */
        border:1px solid #333;
        border-radius: 5px;
        
    }
}




/*
****************************************************************************
                            ANIMATIONS
****************************************************************************
*/

// .show-box {
// //   height: 200px;
// //   width: 300px;
//   overflow: hidden;
// //   border: 1px solid red;
// //   background: #ff0;
// }
// .hid-box {
//     transform: scale(3);
//     top: 200%;
//     position: relative;
//     transition: all .3s ease-out;
//     height: 100%;
// }

// .show-box:hover > .hid-box{
//   top: 0;
// }

// RETABLIR LE Z-INDEX DE LA FLECHE DES SECLECT DE BULMA
.select:not(.is-multiple):not(.is-loading)::after {
    z-index: 0;
}