{% extends 'admin.html.twig' %}

{% block title %} Page d'accueil de l'administration {% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DE DIVERSES INFORMATIONS POUR LES ADMIN                                           #}
{###################################################################################################################}
{% block body %}
<div class="container">
  <button class="button btn-info">Infos</button>
  <div class="columns admin-home admin-info" style="display:none;">
    <div class="column">
      <div class="box">
        <p>
          <i class="fas fa-info-circle fa-3x"></i>
          <br>
          Vous avez accès aux rubriques suivantes :
          <ul>
            <li>Actualités</li>
            <li>Evénements</li>
            <li>Coups de coeur</li>
            <li>Newsletters (Indisponible)</li>
            <li>Utilisateurs</li>
            <li>Catégories</li>
          </ul>
          <hr>
          Autres fonctionnalités :
          <ul>
            <li>Mon compte personnel</li>
            <li>Messages reçus</li>
            <li>Aller sur le site</li>
          </ul>
        </p> 
      </div>
    </div>
    
    <div class="column"> 
      <div class="box">
        <p>
          <i class="fas fa-info-circle fa-3x"></i>
          <br>
          Pour chaque rubrique , vous pouvez :
          <ul>
            <li>Afficher tous</li>
            <li>Créer un nouvel élément</li>
            <li>Editer un élément</li>
            <li>Supprimer un élément</li>
            <li>Effectuer une recherche</li>
          </ul>
          <hr>
          Droit des utilisateurs :
          <ul>
            <li><strong>Admin</strong> : Tous</li>
            <li><strong>Contributeur</strong> : Tous sauf supprimer et ni s'attribuer le rang d'admin</li>
            <li><strong>Client</strong> : Uniquement la partie publique</li>
          </ul>
            <hr>
          <div class="admin-home-nota">
            Vous ne pouvez pas :
            <ul>
              <li>Supprimer un Admin ou un Contributeur s'il a déjà posté un coup de coeur</li>
              <li>Supprimer une catégorie contenant un coup de coeur</li>
            </ul>
          </div>
        </p>
      </div>
    </div>
  </div>

  {###################################################################################################################}
  {#                               AFFICHAGE DES STATISTIQUES DU SITE                                                #}
  {###################################################################################################################}
  <div class="columns admin-home">
    <div class="column is-half">
      <div class="box">
        <h2 class="subtitle"><i class="fas fa-chart-line fa-2x"></i> Statistiques du site</h2>
        <table class="table is-fullwidth is-hoverable is-stripped is-responsive">
          <tbody>
            <tr>
              <th scope="row">Nombre de coups de coeur</th>
              <td> {{ stats.nbHeartStrokes }}</td>
            </tr>
            <tr>
              <th scope="row">Nombre d'événements</th>
              <td> {{ stats.nbEvenement }}</td>
            </tr>
            <tr>
              <th scope="row">Nombre d'actualités</th>
              <td> {{ stats.nbEvents }}</td>
            </tr>
            <tr>
              <th scope="row">Nombre de catégories</th>
              <td> {{ stats.nbCategories }}</td>
            </tr>
            <tr>
              <th scope="row">Nombre de newsletters</th>
              <td> {{ stats.nbNewsLetters }}</td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>

    <div class="column is-half">
      <div class="box">
        <h2 class="subtitle"><i class="fas fa-chart-line fa-2x"></i> Statistiques utilisateurs</h2>
        <table class="table is-fullwidth is-hoverable is-stripped is-responsive">
          <tbody>
            <tr> 
              <th scope="row"> Clients</th>
              <td> {{ stats.nbClients }}</td>   
            </tr>
                <tr> 
              <th scope="row"> Contributeurs</th>
              <td> {{ stats.nbContributeurs }}</td>   
            </tr>
            <tr> 
              <th scope="row"> Administrateurs</th>
              <td> {{ stats.nbAdmin }}</td>   
            </tr>
            <tr> 
              <th scope="row">TOTAL</th> 
              <td><strong>{{ stats.nbUsers }}</strong></td>  
            </tr>
          </tbody>
        </table>
      </div> 
    </div>
  </div>
</div>

<div class="container">
  <div class="columns admin-home">
    <div class="column">
      <div class="box">
        <h2 class="subtitle"><i class="fas fa-chart-line fa-2x"></i>Statistiques des coups de coeurs</h2>
        <div class="responsive-table">
          <table class="table is-fullwidth is-hoverable is-stripped">
            <tbody>
              <tr>
                <th scope="row"></th>
              {% for category,usersTable in stats.nbHeartStrokeByCategoryByUser|slice(0,1) %}
                    {% for user,nb in usersTable %}
                        <th>{{user}}</th>
                    {% endfor %}
              {% endfor %}
              </tr>
  
  
              {% for category,usersTable in stats.nbHeartStrokeByCategoryByUser %}
                  <tr>
                      <th scope="row">{{ category }}</th>
                    {% for user,nb in usersTable %}
                      <td>{{nb}}</td>
                    {% endfor %}
                    <th>{{ stats.nbHeartStrokeByCategory[category] }}</th>
                  </tr>
              {% endfor %}
              
              <tr>
                  <th scope="row"></th>
                {% for user,userNb in stats.nbHeartStrokeByUser  %}
                      
                  <th>{{userNb}}</th>
                      
                {% endfor %}
              </tr>
            </tbody>
          </table>
          </div>
      </div> 
    </div>
  </div>
</div>

{% endblock %}


{#{% block stylesheets %}#}
{#    <link rel="stylesheet" href="{{ asset('assets/css/styles.less') }}">#}
{#{% endblock %}#}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/admin.js') }}"></script>
{% endblock %}