{###################################################################################################################}
{#                        FORMULAIRE POUR LA DESTRUCTION D'UN UTILISATEUR                                          #}
{###################################################################################################################}
<form method="post" action="{{ path('admin_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="button is-danger admin-delete" title="Supprimer un utilisateur">Supprimer</button>
</form>