{###################################################################################################################}
{#                           FORMULAIRE POUR L'EDITION D'UN UTILISATEUR                                            #}
{###################################################################################################################}
{{ form_start(form) }}
<div class="field">
    <label class="label">Nom utilisateur :&nbsp;&nbsp; <i class="fas fa-asterisk"></i>&nbsp;&nbsp;
        <a href="#" class="popup-link"><i class="fas fa-info"></i>
            <span class='popup'><i class="fas fa-asterisk"></i>&nbsp;&nbsp; = champs obligatoires
                <br>Vous ne pouvez pas entrer un nom d'utilisateur qui existe déjà
                <br>Vous ne pouvez pas entrer un email qui existe déjà
                <br>Il vous est interdit de modifier le mot de passe de l'utilisateur
                <br>Le téléphone doit être de type 0123456789 (10 chiffres), ou 123456789 (9 chiffres sans le premier zéro) ou vide
            </span>
        </a>
    </label>
    <div class="control">
        {{ form_widget(form.username) }}
    </div>
</div>

<div class="field">
    <label class="label">Email :&nbsp;&nbsp; <i class="fas fa-asterisk"></i></label>
    <div class="control">
         {{ form_widget(form.email) }}
    </div>
</div>

<div class="field">
    <label class="label">Droits de l'utilisateur : &nbsp;&nbsp; <i class="fas fa-asterisk"></i></label>
    <div class="select is-fullwidth">
        {{ form_widget(form.userLevel) }}
    </div>
</div>

<div class="field">
    <div class="checkbox">
        <label class="label">
            {{ form_widget(form.newsLetter) }}
            &nbsp;&nbsp;S'inscrire à la newsletter &nbsp;&nbsp; <i class="fas fa-asterisk"></i>  
        </label>
    </div>
</div>

<hr>
<div class="field">
    <label class="label">Nom :</label>
    <div class="control">
        {{ form_widget(form.lastName) }}
    </div>
</div>

<div class="field">
    <label class="label">Prénom :</label>
    <div class="control">
         {{ form_widget(form.firstName) }}
    </div>
</div>



<div class="field">
    <label class="label">Téléphone : &nbsp;&nbsp;<span class="tel_result"></span></label>
    <div class="control">
        {{ form_widget(form.phone) }}
    </div>
</div>

<div class="field">
    <label class="label">Adresse :</label>
    <div class="control">
        {{ form_widget(form.address) }}
    </div>
</div>


<div class="field">
    <div class="control">
      {{ form_widget(form.save) }}
    </div>
</div>
{{ form_end(form) }}  