{% extends 'admin_user/index.html.twig' %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block title %}Edition utilisateurs{% endblock %}
{% block body %}
    <div class="container admin-container-new">

    {{ include('admin_user/_edit_form.html.twig', {'button_label': 'Update'}) }}

        <hr style="border: 1px solid black;">
        <div class="columns">
            <div class="column is-5">
                <a href="{{ path('admin_user') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des utilisateurs</a>
            </div>
            <div class="column">
                {% if user.userLevel not in ['ROLE_ADMIN','ROLE_CONTRIBUTOR'] and is_granted('ROLE_ADMIN') %}
                    {{ include('admin_user/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{###################################################################################################################}
{#                                          SCRIPTS                                                                #}
{###################################################################################################################}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/form-validation.js') }}"></script>
{% endblock %}