{% extends 'admin.html.twig' %}

{% block title %}Admin Utilisateurs{% endblock %}

{###################################################################################################################}
{#                         HEADER (BOUTON AJOUTER + BARRE DE RECHERCHE)                                            #}
{###################################################################################################################}
{% block header %}
<div class="container">
    <h1 class="title">Utilisateurs</h1>
    <form method="GET"  class="admin-search">
        <div class="field">
            <div class="control">
                 <a class="button is-light" href= " {{ path('admin_user_new') }}" title="Ajouter un utilisateur">Nouvel utilisateur</a>
            </div>
        </div>
        
        <div class="admin-searchBarButton">
            <div class="field">
                    <div class="control has-icons-left admin-searchBar">
                        <input type="search" placeholder="Rechercher un utilisateur" name='s'  id="searchEv" class="input">
                        <span class="icon is-small is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-light" title="Rechercher un utilisateur">Rechercher</button>
                    <a href="#" class="popup-link"><i class="fas fa-info"></i>
                        <span class='popup'>Rechercher parmis le nom, le prénom, l'email, l'adresse, le téléphone, la date d'inscription et le rôle de l'utilisateur</span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>  
{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
    {% if users %}
    <div class="container admin-container">
        <form method="POST">
            <div class="admin-pagination">
                <label class="label">Résultats par page : </label>
                <div class="select">
                    <select name="limit">
                        {% for i in [20,50,100]  %}
                            {% if i == limit%}
                                <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <button type="submit" class="button is-info" title="Valider la pagination">OK</button>
            </div>
        </form>
        
        <section class="section">
            <div class="responsive-table">
                <table class="table is-fullwidth is-hoverable is-stripped">
                    <thead has-text-center>
                        <tr>
                            <th scope="col">Utilisateur</th>
                            <th scope="col">Email</th>
                            <th scope="col">Inscrit le</th>
                            <th scope="col">Droits</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td> {{ user.userName }} </td>
                                <td> {{ user.email }} </td>
                                <td>{{ user.createdAt ? user.createdAt|date('d/m/Y') : '' }}</td>
                                <td>
                                    {% if user.userLevel == 'ROLE_ADMIN' %} Administrateur
                                    {% elseif user.userLevel == 'ROLE_CONTRIBUTOR'%} Contributeur
                                    {% elseif user.userLevel == 'ROLE_USER'%} Client
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="button is-info admin-show" href=" {{ path('admin_user_show', {'id': user.id}) }}" title="Voir en détails l'utilisateur">Voir</a>
                                </td>
                                <td>
                                    <a class="button is-info admin-edit" href=" {{ path('admin_user_edit', {'id': user.id}) }}" title="Modifier l'utilisateur">Editer</a>
                                </td>
                                <td>
                                    {% if user.userLevel not in ['ROLE_ADMIN','ROLE_CONTRIBUTOR'] and is_granted('ROLE_ADMIN') %}
                                        {{ include('admin_user/_delete_form.html.twig') }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
        <hr style="border: 1px solid black;">
        
        {###################################################################################################################}
        {#                                         PAGINATION                                                              #}
        {###################################################################################################################}
        {% if maxPage > 1  %}
            <nav class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    {% for i in 1..maxPage  %}
                    <li>
                        {% if i == page%}
                            <a class="pagination-link is-current" href="{{ path('admin_user') }}?page={{ i }}&limit={{limit}}" title="Page {{i}}"> {{ i }} </a>
                        {% else %}
                            <a class="pagination-link" href="{{ path('admin_user') }}?page={{ i }}&limit={{limit}}" title="Aller à la page {{i}}"> {{ i }} </a>
                        {% endif %}
                    </li>
                    {% endfor%}
                </ul>   
                </nav>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}