{% extends 'admin_user/index.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div class="container admin-container-new">

        {{ include('admin_user/_form.html.twig') }}
    
        <hr style="border: 1px solid black;">
        <div class="columns">
            <div class="column is-5">
                <a href="{{ path('admin_user') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des utilisateurs</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/form-validation.js') }}"></script>
{% endblock %}