{% extends 'admin_user/index.html.twig' %}

{% block title %}Résultat de votre recherche{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS DE LA RECHERCHE SUR FORME DE TABLEAU                                #}
{###################################################################################################################}
{% block body %}
    <div class="container admin-container">
    {% if users %}
        <form method="POST">
            <div class="admin-pagination">
                <label class="label">Résultats par page : </label>
                <div class="select">
                    <select name="limit">
                        {% for i in [10,20,50,100]  %}
                            {% if i == limit%}
                                <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <button type="submit" class="button is-info">OK</button>
            </div>
        </form> 
        
        <section class="section">
            <table class="table is-fullwidth is-hoverable is-stripped is-responsive">
                <thead>
                    <tr>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Email</th>
                        <th scope="col">Inscrit le</th>
                        <th scope="col">Rôle</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td> {{ user.userName }} </td>
                            <td> {{ user.email }} </td>
                            <td>{{ user.createdAt ? user.createdAt|date('d/m/Y') : '' }}</td>
                            <td>
                                {% if user.userLevel == 'ROLE_ADMIN' %} ADMIN
                                {% elseif user.userLevel == 'ROLE_CONTRIBUTOR'%} CONTR.
                                {% elseif user.userLevel == 'ROLE_USER'%} CLIENT
                                {% endif %}
                            </td>
                            <td>
                                <a class="button is-info admin-show" href=" {{ path('admin_user_show', {'id': user.id}) }}" title="Voir en détails l'utilisateur">Voir</a>
                            </td>
                            <td>
                                <a class="button is-info admin-edit" href=" {{ path('admin_user_edit', {'id': user.id}) }}" title="Modifier l'utilisateur">Editer</a>
                            </td>
                            <td>
                                {% if user.userLevel not in ['ROLE_ADMIN','ROLE_CONTRIBUTOR'] and is_granted('ROLE_ADMIN') %}
                                    {{ include('admin_user/_delete_form.html.twig') }}
                                {% endif %}
                            </td>    
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}

        <a href="{{ path('admin_user') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des utilisateurs</a>
        
        <hr style="border: 1px solid black;">
        
        {###################################################################################################################}
        {#                                         PAGINATION                                                              #}
        {###################################################################################################################}
        {% if maxPage > 1  %}
            <nav class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    {% for i in 1..maxPage  %}
                    <li>
                        {% if i == page%}
                            <a class="pagination-link is-current" href="{{ path('admin_user') }}?s={{ search }}&page={{ i }}&limit={{limit}}" title="Page {{i}}"> {{ i }} </a>
                        {% else %}
                            <a class="pagination-link" href="{{ path('admin_user') }}?s={{ search }}&page={{ i }}&limit={{limit}}" title="Aller à la page {{i}}"> {{ i }} </a>
                        {% endif %}
                    </li>
                    {% endfor%}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}



