{% extends 'admin_user/index.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
    <div class="container admin-container is-responsive">
        <table class="table is-hoverable is-stripped is-responsive">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>{{ user.id }}</td>
                </tr>
                <tr>
                    <th scope="row">Utilisateur</th>
                        <td>{{ user.userName }}</td>
                    </tr>
                <tr>
                    <th scope="row">Prénom</th>
                    <td>{{ user.firstName }}</td>
                </tr>
                <tr>
                    <th scope="row">Nom</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th scope="row">Téléphone</th>
                    <td>{{ user.phone }}</td>
                </tr>
                <tr>
                    <th scope="row">Adresse</th>
                    <td>{{ user.address }}</td>
                </tr>
                <tr>
                    <th scope="row">Rôle</th>
                    <td>
                        {% if user.userLevel == 'ROLE_ADMIN' %} Administrateur
                            {% elseif user.userLevel == 'ROLE_CONTRIBUTOR'%} Contributeur
                            {% elseif user.userLevel == 'ROLE_USER'%} Client
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th scope="row">Inscription à la newsletter</th>
                    <td>{{ user.newsLetter ? 'Oui' : 'Non' }}</td>
                </tr>
                <tr>
                    <th scope="row">SessionID</th>
                    <td>{{ user.sessionID }}</td>
                </tr>
                <tr>
                    <th scope="row">SessionIP</th>
                    <td>{{ user.sessionIP }}</td>
                </tr>
                <tr>
                    <th scope="row">Inscrit le</th>
                    <td>{{ user.createdAt ? user.createdAt|date('d/m/Y à H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th scope="row">Compte activé </th>
                    <td>{{ user.activated ? 'Oui' : 'Non' }}</td>
                </tr>
            </tbody>
        </table>
    
        <hr style="border: 1px solid black;">
        <div class="columns admin-show-footer">
            <div class="column is-5">
                <a href="{{ path('admin_user') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des utilisateurs</a>
            </div>
            <div class="column is-2">
                <a class="button is-info admin-edit" title="Modifier l'uilisateur" href="{{ path('admin_user_edit', {'id': user.id}) }}">Editer</a>
            </div>
            <div class="column is-2">
                {% if user.userLevel not in ['ROLE_ADMIN','ROLE_CONTRIBUTOR'] and is_granted('ROLE_ADMIN') %}
                    {{ include('admin_user/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}