{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}

<div class="container-contact">

{###################################################}
{#                CARROUSSEL                       #}
{###################################################}

{# http://www.bkosborne.com/jquery-waterwheel-carousel/options #}
<div class="carousel-block">
    <div id="carousel">
      <img src="{{ asset('assets/images/contact/librairie_1.jpg') }}" id="item-1" />
      <img src="{{ asset('assets/images/contact/librairie_2.jpg') }}" id="item-2" />
      <img src="{{ asset('assets/images/contact/librairie_3.jpg') }}" id="item-3" />
      <img src="{{ asset('assets/images/contact/librairie_4.jpg') }}" id="item-4" />
      <img src="{{ asset('assets/images/contact/librairie_5.jpg') }}" id="item-5" />
      <img src="{{ asset('assets/images/contact/librairie_6.jpg') }}" id="item-6" />
      <img src="{{ asset('assets/images/contact/librairie_7.jpg') }}" id="item-7" />
    </div>
</div>




    
    {###################################################}
    {#                FORMULAIRE DE CONTACT            #}
    {###################################################}
    
    <div class="contactForm">
        <div class="contact-title">
            <div class="title subtitle">Nous contacter</div>
        </div>
        
        {{ form_start(form) }}
        <div class="field">
            <label class="label">Sujet </label>
            <div class="select">
                {{ form_widget(form.title) }}
            </div>
        </div>
        
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="field">
            <label class="label">Votre nom</label>
            <div class="control">
                {{ form_widget(form.username) }}
            </div>
        </div>
        
        <div class="field">
            <label class="label">Votre email</label>
            <div class="control">
                {{ form_widget(form.email) }}
            </div>
        </div>
        {% endif %}
        
        
        <div class="field">
            <label class="label">Votre demande</label>
            <div class="control">
                {{ form_widget(form.content) }}
            </div>
        </div>
        
        <div class="field">
            <div class="control">
                {{ form_widget(form.save) }}
                <a href="#" class="popup-link"><i class="fas fa-info"></i>
                    <span class='popup'>Si vous avez des difficultés  a envoyer votre message, pensez à vider le cache de votre navigateur.</span>
                </a>
            </div>

        </div>
        {{ form_end(form) }}

    
        
    </div>

    
    {###################################################}
    {#                INFORMATIONS                     #}
    {###################################################}
    
    <div class="contactInformations">
        <div class="contactSummary">
            <div class="pratiqueLibrairie">
                <div class="title subtitle">Pour venir</div>
                <div class="content">
                    <p>La librairie est située en plein coeur de Pertuis face à l'église.</p>
                    <p>Des parkings gratuits et non limités dans le temps sont à votre disposition à proximité, les parkings Vigne et Dévalade sont à seulement 2 minutes à pied et accessibles par ascenseur.</p>
                </div>
            </div>
            <div class="coordLibrairie">
                <div class="title subtitle">Carte de fidélité</div>
                <div class="content">
                    <p>La loi Lang du 10 août 1981 impose le prix unique du livre fixé par l'éditeur dans la limite de plus ou moins 5%. Quelle que soit la période de l'année, ce prix doit être respecté par tous les détaillants (grande surface spécialisée, hypermarché, maison de la presse, grossiste, librairie traditionnelle ou en ligne).<br>
                    <br>
                    Notre carte de fidélité vous offre 5% de remise sur la somme totale de vos achats au bout de 5 passages.<br>
                    Elle n'est pas limitée dans le temps. Pensez à nous la demander !</p>
                </div>
            </div>
            <div class="coordLibrairie">
                <div class="title subtitle">Librairie de référence</div>
                <div class="content">
                    <p  style="text-align:center;"><a href="http://www.centrenationaldulivre.fr/fr/libraire/lr_un_label_de_reference/presentation/" target="_blank"><img src="{{ asset('assets/images/logo_lir.png') }}"></img></a></p>
                    <p>La librairie Mot à Mot est reconnue comme "Librairie de Référence"</p>
                </div>
            </div>
            <div class="coordLibrairie">
                <div class="title subtitle">Suivez nous sur les réseaux sociaux</div>
                <div class="reseaux">
                    <a href="https://www.facebook.com/Librairie-Mot-%C3%80-Mot-156883567672298/" target="_blank"><img src="{{ asset('assets/images/faceboockjp.png') }}"  alt="logo faceboock" class="socialImg"></a>
                    <a href="https://www.instagram.com/librairiemotamot/" target="_blank"><img src="{{ asset('assets/images/intagramjp.png') }}"   alt="logo instagram" class="socialImg"></a>
                </div>
            </div>
        </div>
        
        <div class="contactMap">
            <iframe 
                class="map" 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d509.962180368441!2d5.501141886010065!3d43.69430101697227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12ca271e560a4c37%3A0x5e9e751a2a5965f2!2sMot+%C3%A0+Mot!5e0!3m2!1sfr!2sfr!4v1525532299019" 
                height="500" 
                frameborder="0" 
                tyle="border:0" allowfullscreen>
            </iframe>
            <div class="coord coordLibrairie">
                <div class="title subtitle">  </div>
                <div class="content">
                    <p><i class="fas fa-map-marker-alt"></i> 68 place Mirabeau 84120 PERTUIS</p>
                    <p><i class="fas fa-at"></i> contact@mot-a-mot.fr</p>
                    <p><i class="fas fa-phone"></i> 04 90 79 02 04</p>
                    <p><i class="fas fa-phone"></i> 06 30 78 38 65</p>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}




{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/waterwheelCarousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/contact.js') }}"></script>
{% endblock %}
