<p>Bonjour, vous avez reçu un message de <strong>{{ username }}</strong> ({{ emailFrom }}) </p>
<div style="border:1px solid black; padding:0.5em;">
    <h2>{{ title }}</h2>
    <p>{{ content }}</p>
</div>