<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Librairie Mot à Mot{% endblock %}</title>
        
        <!-- META -->
        <meta name="description" content="Librairie généraliste indépendante Mot à Mot, 84120 Pertuis : jeunesse, littérature, bande dessinée, essai">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" /> <!-- VIEWPORT MOBILE -->

        <!-- STYLE SHEETS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- GOOGLE FONTS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" /> <!-- BULMA -->
        <link rel="stylesheet" href="{{ asset('assets/css/styles.less') }}">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/logofavi128.png') }}" />

        <!-- SCRIPTS -->
        <!-- FONT AWESOME 5.0.6 -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <!-- LESS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" type="text/javascript"></script>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        {###################################################################################################################}
        {#                                            NAVIGATION                                                           #}
        {###################################################################################################################}
        {% set nav = app.request.pathinfo %}
        
        
        <nav class="navbar has-background-dark">
            <div class="navbar-brand">
                <a class="navbar-item has-text-light navBorder {% if nav == "/admin/" %}active{% endif %}" href="{{ path('admin_home') }}">
                    <i class="fas fa-home fa-2x" title="Accueil de la partie administration"></i>
                </a>
                
                <a role="button" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navMenubd">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu  has-background-dark" id="navMenubd" >
                 <div class="navbar-start">
                    <a class="navbar-item has-text-white navBorder {% if ( '/admin/events' in nav) %}active{% endif %}" title="Voir les actualités" href="{{ path('admin_events') }}">Actualités</a>
                    <a class="navbar-item has-text-white navBorder {% if ( '/admin/evenement' in nav) %}active{% endif %}" title="Voir les évenements" href="{{ path('admin_evenement') }}">&Eacute;vénements</a>
                    <a class="navbar-item has-text-white navBorder {% if ( '/admin/heartstroke' in nav) %}active{% endif %}" title="Voir les coups de coeur" href="{{ path('admin_heartstroke') }}">Coups de coeur</a>
                    <a class="navbar-item has-text-white navBorder {% if ( '/admin/newsletter' in nav) %}active{% endif %}" title="Voir les newsletters" href="{{ path('admin_newsletter') }}">Newletters</a>
                    <a class="navbar-item has-text-white navBorder {% if ( '/admin/user' in nav) %}active{% endif %}" title="Voir les utilisateurs" href=" {{ path('admin_user') }}">Utilisateurs</a>
                    <a class="navbar-item has-text-white navBorder {% if ( '/admin/category' in nav) %}active{% endif %}" title="Voir les catégories" href=" {{ path('admin_category') }}">Catégories</a>
                </div>
                <div class="navbar-end">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="navbar-item has-text-white">
                        <a href=" {{ path('user_profil') }}" title="Aller sur Mon compte"> <i class="far fa-user has-text-white"></i> </a>&nbsp;&nbsp;
                        <p>Bonjour, {{ app.user.username }} </p>
                    </div>
                    <div class="navbar-item has-text-white">
                        <a href=" {{ path('admin_contact') }}" title="Voir les messages" class="has-text-white"> <i class="far fa-envelope fa-2x"></i> </a>&nbsp;&nbsp;
                    </div>
                {% endif %}
   
                <div class="navbar-item">
                    <div class="field">
                        <p class="control">
                            <a class="button" href="{{ path('home')}}" title="Aller sur le site Mot à Mot">Voir le site</a>
                        </p>
                    </div>
                </div>
               
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="navbar-item">
                        <div class="field">
                            <p class="control">
                                <a class="button button-home is-danger" href="{{ path('logout') }}" title="Se déconnecter">Déconnexion</a>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>

    {###################################################################################################################}
    {#                                            HEADER                                                               #}
    {###################################################################################################################}
    <header class="hero {% block headerClass %} is-info {% endblock %}">
        <div class="hero-body is-paddingless">
            {% block header %}
                <div class="container">
                    <h1 class="title">Administration de la librairie Mot à mot<a href="#" class="popup-link"><i class="fas fa-info"></i><span class='popup'>Informations et statistiques du site</span></a> </h1>
                </div>
            {% endblock %}
        </div>
    </header>
        
    {###################################################################################################################}
    {#                                    MESSAGES FLASH                                                               #}
    {###################################################################################################################}    
    <section class="section">
        <div class="container">
        {% for label, messages in app.flashes %}
            <article class="message is-{{ label }}">
                <div class="message-body">
                     {% for message in messages %}
                        <p> {{ message }} </p>
                     {% endfor %}
                </div>
            </article>
        {% endfor %}
        </div>
        {% block body %}{% endblock %}
    </section>
    
    {###################################################################################################################}
    {#                                    SCRIPTS                                                               #}
    {###################################################################################################################}           
    {# DEFINIE UNE VARIABLE JS QUI INDIQUE L'ETAT D'AUTHENTIFICATION DE L'UTILISATEUR (A SECURISER) #}
    <script>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            var userlevel = '{{ app.user.userlevel }}';
    {% else %}
            var userlevel = 'not_connected';
    {% endif %}
    </script>
        
        
    {# CHARGE LE BUNDLE POUR GERER LES ROUTES EN JS #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    
    
    {# DEFINIE UNE VARIABLE JS QUI INDIQUE L'ETAT D'AUTHENTIFICATION DE L'UTILISATEUR (A SECURISER) #}
    <script>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                var userlevel = '{{ app.user.userlevel }}';
        {% else %}
                var userlevel = 'not_connected';
        {% endif %}
    </script>
    
    {# CHARGE LE BUNDLE POUR GERER LES ROUTES EN JS #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ asset('assets/js/burger-nav.js') }}"></script>
    {% block javascripts %}{% endblock %}

    {###################################################################################################################}
    {#                                            FOOTER                                                               #}
    {###################################################################################################################}   
    <footer class="admin-footer">
        <small>&copy; 2018 - Librairie Mot à Mot - Pertuis</small>
    </footer>
</body>
</html>