<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Librairie Mot à Mot{% endblock %}</title>
        
        <!-- META -->
        <meta name="description" content="Librairie généraliste indépendante Mot à Mot, 84120 Pertuis : jeunesse, littérature, bande dessinée, essai">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" /> <!-- VIEWPORT MOBILE -->

        <!-- STYLE SHEETS -->
        <link href="https://fonts.googleapis.com/css?family=Roboto|Lato:300" rel="stylesheet"> <!-- GOOGLE FONTS -->
        {#<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" /> <!-- BULMA -->
        {#<link rel="stylesheet/less" type="text/css" href="/public/assets/css/styles.css" />   <!-- STYLE.LESS -->#}
        <link rel="stylesheet/less" type="text/css" href="{{ asset('assets/css/styles.less') }}">
        <link rel="icon" type="image/png" href="{{ asset('assets/images/logofavi128.png') }}" />

        
        <!-- SCRIPTS -->
        <!-- FONT AWESOME 5.0.6 -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
        <!-- LESS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" type="text/javascript"></script>
        {% block stylesheets %}{% endblock %}

    </head>

    <body>
        
    {###################################################################################################################}
    {#                                            HEADER                                                               #}
    {###################################################################################################################}
    <header class="header-home"> 
        <a href="{{ path('home') }}" title="Librairie Mot à Mot"><img src="{{ asset('assets/images/logo.jpg') }}" class="logjpg"></a>    
        <h1 class="libmot">Librairie Mot à Mot</h1>    
    </header>
    
    
        
    {###################################################################################################################}
    {#                                            NAVIGATION                                                           #}
    {###################################################################################################################}
    {% set nav = app.request.pathinfo %}

    
    <nav class="navbar has-background-dark home-navBar">
        <div class="container">
            <div class="home-brand">
                <a role="button" class="navbar-burger has-text-white" aria-label="menu" aria-expanded="false" data-target="navMenubd">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            
            <div class="navbar-menu  has-background-dark" id="navMenubd" >
                 <div class="navbar-start">
                    <a class="navbar-item has-text-white {% if nav == "/" %}active{% endif %}" title="Accueil de la librairie Mot à Mot" href="{{ path('home') }}">
                        <i class="fas fa-home"></i>
                    </a>

                    <a class="navbar-item has-text-white {% if nav == "/heartstroke" %}active{% endif %}" title="Voir les coups de coeur" href="{{ path('heart_stroke') }}">Coups de coeur
                        <img src="{{ asset('assets/images/menu/sand.png') }}" title="George Sand">
                    </a>
                                         
                    <a class="navbar-item has-text-white {% if nav == "/evenement" %}active{% endif %}" title="Prochains évenements" href="{{ path('evenement') }}">&Eacute;vénements
                        <img src="{{ asset('assets/images/menu/hugo.png') }}" title="Victor Hugo">
                    </a>
                    
                    <a class="navbar-item has-text-white {% if nav == "/contact" %}active{% endif %}" title="Aller sur la page contact" href="{{ path('contact') }}">Contact
                        <img src="{{ asset('assets/images/menu/verne.png') }}" title="Jules Vernes">
                    </a>
                    
                </div>
                <div class="navbar-end">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="navbar-item has-text-white">
                            <a href=" {{ path('user_profil') }}" title="Aller sur Mon compte"> <i class="far fa-user has-text-white"></i> </a>&nbsp;&nbsp;
                            <p class="hide_mobile">Bonjour, {{ app.user.username }} </p>
                        </div>
                    {% endif %}
                    
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %}
                        <div class="navbar-item has-text-white">
                            <a href="{{ path('admin_home') }}"><div class="hide_mobile button is-link is-inverted is-outlined">Administration</div><div class="show_desktop"><i class="fas fa-cogs"></i></div></a>
                        </div>
                    {% endif %}
    
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="navbar-item">
                            <a href="{{ path('login') }}"><div class="button button-home is-info is-outlined hide_mobile">Connexion</div><div class="show_desktop"><i class="fas fa-sign-in-alt"></i></div></a>
                        </div>
                    {% endif %}
                    
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="navbar-item has-text-white">
                            <a href="{{ path('logout') }}" title="Se déconnecter"><div class="button button-home is-danger is-outlined hide_mobile" >Déconnexion</div><div class="show_desktop"><i class="fas fa-sign-out-alt"></i></div></a>
                        </div>

                    {% endif %}
                </div> {# END NAVBAR-END #}
            </div> {# END NAVBAR-MENU #}
        </div> {# END CONTAINER #}
    </nav>

    
    {###################################################################################################################}
    {#                                            SEARCH BAR                                                           #}
    {###################################################################################################################}
    
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTRIBUTOR') %} {#AFFICHAGE DE LA BARRE DE RECHERCHE RESERVEE AUX ADMIN (A supprimer avec DILICOM) #}
    
    {% block search %}
    <div class="fullWigth">
        <div class="container">
            <div class="searchAll">
                            {#FORMULAIRE DE RECHERCHE SIMPLE#}
                <form class="searchbar">
                    <input type="search" placeholder="Chercher un livre" name='recherche' class="input simple-search"> 
                    <button type="submit" class="button button-home is-white simple-search"><i class="fas fa-search"></i></button>
                    <a href="{{ path('home') }}" class="button button-home is-light is-hovered advancedResearchButton">Recherche avancée</a>
                </form>
                
                            {#FORMULAIRE DE RECHERCHE AVANCEE#}
                <div class="advancedResearch">
                    <div class="columns">
                        <form class="column is-three-fifths searchByField">
                            <div class="search-subtitle">Chercher par mots-clés</div>
                            <div class="field">
                                <div class="control">
                                <input type="text" class="input advanced-search-title" name='title' placeholder="Chercher par titre">
                              </div>
                            </div>
                            <div class="field">
                              <div class="control">
                                <input type="text" class="input advanced-search-author" name='author' placeholder="Chercher par auteur">
                              </div>
                            </div>
                            <div class="field">
                              <div class="control">
                                <input type="text" class="input  advanced-search-publisher" name='publisher' placeholder="Chercher par éditeur">
                              </div>
                            </div>
                            <div class="control">
                              <button type="submit" class="button button-home is-white advanced-search">Chercher</button>
                            </div>
                        </form>
                        
                        <form class="column searchByGencode">
                            <div class="search-subtitle">Chercher par GENCODE</div>
                            <div class="field">
                              <div class="control">
                                <input class="input" name='gencode' type="text" placeholder="Entrer le Gencode">
                              </div>
                            </div>
                            <div class="control">
                              <button type="submit" class="button button-home is-white gencode-search">Chercher</button>
                            </div>
                        </form>
                    </div>
                    <div class="formLocation">public</div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="results container">
        {#AFFICHAGE DES RESULTATS DE LA RECHERCHE #}
    </div>
    {% endblock %}
    
    {% endif %}
    
    {###################################################################################################################}
    {#                                                    BODY                                                         #}
    {###################################################################################################################}

    <div class="container body-container">
        
        {#                  MESSAGES FLASH             #}
        {% for label, messages in app.flashes %}
        <article class="message is-{{ label }}">
            <div class="message-body">
                 {% for message in messages %}
                    <p> {{ message }} </p>
                 {% endfor %}
            </div>
        </article>
        {% endfor %}
        {% block messageFlash %}{% endblock %}
        
        
        {% block body %}{% endblock %}
        <div class="columns">
            <div class="column is-four-fifths">
                
                {#                  BODY                       #}
                {% block bodyWithAside %}{% endblock %}
            </div>
        
        
                {#                  ASIDE                      #}
            <div class="column">
                <aside>
                    {% block aside %} {% endblock %}
                </aside>
            </div>
        </div> 
    </div>
    
    
    
    
    {###################################################################################################################}
    {#                                                     FOOTER                                                      #}
    {###################################################################################################################}
    
    
    <footer>
        <small>&copy;{{ "now"|date("Y") }} - Librairie Mot à Mot - Pertuis - </small>
        <small><a href="{{ path('mentions-legales') }}" title="Afficher les mentions légales">Mentions légales & Crédits</a></small>

        <a href="https://www.facebook.com/Librairie-Mot-%C3%80-Mot-156883567672298/" target="_blank"><img src="{{ asset('assets/images/faceboockfooter30.png') }}" alt="petit logo faceboock"></a>
        <a href="https://www.instagram.com/librairiemotamot/" target="_blank"><img src="{{ asset('assets/images/intagram30.png') }}" alt="petit logo instagram"></a>
    </footer>
    
    
    
    
    
    {###################################################################################################################}
    {#                                                     SCRIPTS                                                     #}
    {###################################################################################################################}
    
    
    {# DEFINIE UNE VARIABLE JS QUI INDIQUE L'ETAT D'AUTHENTIFICATION DE L'UTILISATEUR (A SECURISER) #}
    <script>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                var userlevel = '{{ app.user.userlevel }}';
        {% else %}
                var userlevel = 'not_connected';
        {% endif %}
    </script>
    
    {# CHARGE LE BUNDLE POUR GERER LES ROUTES EN JS #}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    {# CHARGE JQUERY #}
    <script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
    
    {# CHARGE LE CODE POUR LA GESTION DE L'API GOOGLE BOOKS #}
    {% block scriptgoogleapi %}
        <script src="{{ asset('assets/js/api-google.js') }}"></script>
    {% endblock %}
    
    {# CHARGE LE CODE POUR LE MENU BURGER #}
    <script src="{{ asset('assets/js/burger-nav.js') }}"></script>
    
    {# JAVASCRIPT OPTIONNEL #}
    {% block javascripts %}{% endblock %}
</body>
</html>