{% extends 'base.html.twig' %}



{% block title %}Nos coups de coeur{% endblock %}

{% block body %}

    <div class="presentation-block">
        <div class="new-heart">
            <h2>Les derniers coups de cœur de vos libraires</h2>
        </div>
    </div>

    <div class="hsCategories">
        {% for heartstrokesCat in heartstrokesAll %}
            <div class="oneCategory categoryId_{{ heartstrokesCat[0].categoryId }}">
                
                <h2 class="title heartstroke-title"> {{heartstrokesCat[0].categoryName }} <span> </span> <img src="{{ asset('assets/images/icon-close.png') }}" class="close_cross"></h2>
                <div class="columns contentCategory">
                    {% for heartstroke in heartstrokesCat %}
                        <div class='parent'>
                            
                            <div class="coverAndTitle">
                                <img src="{{ heartstroke.imageLink }}" id="myBtn_{{ heartstroke.id }}" class="myBtn heartstroke-img"><br>
                                <small>{{heartstroke.title }}</small>
                            </div>
                            
                            <div id="myModal_{{ heartstroke.id }}" class="modal">
                                <div class="modal-content">
                                    <section class="modal-heartstroke">
                                        <div class="modal-heartstroke-head">
                                            <span class="close">&times;</span>
                                            <h2>{{heartstroke.title }}</h2>
                                            <h3>{{heartstroke.authors }}</h3>
                                        </div>
                                        <div class="modal-heartstroke-body">
                                            <figure>
                                                <img src="{{heartstroke.imageLink }}" alt="Couverture de {{heartstroke.title }}">
                                            </figure>
                                            <article>
                                                <small><span class="detail-title">Sortie </span> {{heartstroke.publishedDate | slice(0, 10)}}</small><br>
                                                <small><span class="detail-title">Editeur </span> {{heartstroke.publisher }}</small><br>
                                                <small><span class="detail-title">ISBN </span> {{heartstroke.isbn }}</small><br>
                                                <small><span class="detail-title">Prix </span> {{heartstroke.price }} {{ heartstroke.priceCurrency }}</small><br>
                                                <blockquote>
                                                    <span class="quote-title">Avis de {{heartstroke.user.username }} : </span> {{heartstroke.opinion | nl2br }} <br> 
                                                    {#<div class="heartstrokeDate">{{ heartstroke.createdAt | date("d/m/Y") }}</div>#}
                                                </blockquote>
                                            </article>
                                        </div>
                                        <div class="modal-heartstroke-description">
                                            <span class="quote-title">Résumé :</span> {{heartstroke.description | nl2br }}
                                        </div>
                                        
                                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <a  class="button heartstroke-command is-link" 
                                            href="{{ path('command', { 'isbn' : heartstroke.isbn, 'title' : heartstroke.title, 'author' : heartstroke.authors}) }}" 
                                            title="Envoyer un mail à votre libraire pour commander ce livre, pour faciliter le suivis de la commande vos nom et email sont également transmis (mail automatique)"
                                            onclick="return confirm('Confirmez votre commande de [{{heartstroke.title }}], votre librairie Mot à Mot va traiter votre demande')">
                                            Commander
                                        </a>
                                        {% endif %}
                                    </section>
                                </div>
                            </div>
                            
                        </div>
                    {% endfor %}
                </div>
                
                <div class="nextHeartstrokes">
                    <div class="nextResultsHeartstrokes">
                            {# RESULTS #}
                    </div>
                    
                    {# BOUTON VOIR TOUT #}
                    <button title="Voir tous les résultats" name="{{ path('heart_stroke') }}" class="button nextHeartstrokesButton">Voir</button>
                    
                    <div class="startIndex" style="display:none;">{{ heartstrokesCat[0].categoryId }}</div>
                    
                    {# BOUTON VOIR PAR ANNEE #}
                    <div class="select">
                        <select class="select_{{ heartstrokesCat[0].categoryId }}">
                                <option>Tout</option>
                            {% for heartstroke in heartstrokesCat[0].categoryYears %}
                                <option>{{heartstroke | slice(0, 4)}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}



    


{% block stylesheets %}
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('assets/css/modal.css') }}">
{% endblock %}

{% block javascripts %}
    <script>
        var urlAjax = '{{ path('heart_stroke_next') }}';
        var urlModalJs = '{{ asset('assets/js/modal.js') }}';
    </script>
    
    
    <script type="text/javascript" src="{{ asset('assets/js/modal.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/heartstrokes.js') }}"></script>
{% endblock %}
