
<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Librairie Mot à Mot{% endblock %}</title>
        
        <!-- META -->
        <meta name="description" content="Librairie généraliste indépendante Mot à Mot, 84120 Pertuis : jeunesse, littérature, bande dessinée, essai">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" /> <!-- VIEWPORT MOBILE -->
        {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" /> <!-- BULMA -->#}

        {% block stylesheets %}{% endblock %}
        <style>
            body{
                background-image: url('../../public/assets/images/libfond.jpg');
                background-repeat:no-repeat;
                background-attachment:fixed;
                background-position: center;
                min-height: 100vw;
            }
            
            .message-error{
                background-color: rgba(0,0,0,.5);
                color: #FFF;
                padding: 20px;
                margin-top: 200px;
                font-size: 1.5em;
            }
            
            a:link, a:visited{
                color: blue;
            }
        </style>
    </head>

{% block body %}
    <div class="message-error">
        <h1>Accès refusé</h1>
    
        <p>
            Vous n'avez pas l'autorisation pour accèder à cette page
            <a href="{{ path('home') }}">Retour sur la page d'accueil</a>
        </p>
    </div>
{% endblock %}