{% extends 'admin.html.twig' %}

{% block title %}Admin Contact{% endblock %}

{###################################################################################################################}
{#                                            HEADER                                                               #}
{###################################################################################################################}
{% block header %}
<div class="container">
    <h1 class="title">Messages</h1>
</div>  
{% endblock %}

{###################################################################################################################}
{#                                    FORMULAIRE DE PAGINATION                                                     #}
{###################################################################################################################}
{% block body %}
    {% if messages %}
    <div class="container admin-container">
        <form method="POST">
            <div class="admin-pagination">
                <label class="label">Résultats par page :</label>
                <div class="select">
                    <select name="limit">
                        {% for i in [20,50,100]  %}
                            {% if i == limit%}
                                <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <button type="submit" class="button is-info" title="Valider la pagination">OK</button>
            </div>
        </form> 
        
        {###################################################################################################################}
        {#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
        {###################################################################################################################}
        <section class="section">
            <div class="responsive-table">
                <table class="table is-fullwidth is-hoverable is-stripped">
                    <thead>
                        <tr>
                            <th></th>
                            <th scope="col">Reçu le</th>
                            <th scope="col">Auteur</th>
                            <th scope="col">Email</th>
                            <th scope="col">Titre</th>
                            <th scope="col">Message</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in messages %}
                            <tr>
                                <td> 
                                    {% if (message.title | slice(0,1)) == 'C' %}
                                        <i class="fas fa-shopping-basket fa-2x"></i>
                                    {% else %}
                                        <i class="fas fa-info-circle fa-2x"></i>
                                    {% endif %}
                                </td>
                                <td> {{ message.createdAt | date('d/m/Y')  }} </td>
                                <td> {{ message.username }} </td>
                                <td> {{ message.email }} </td>
                                <td title="{{ message.title }}"> {{ message.title  | striptags | split(' ') | slice(0, 5) | join(' ') }} ... </td>
                                <td> {{ message.content  | striptags | split(' ') | slice(0, 5) | join(' ') }} </td>
                                <td>
                                    <a class="button is-info admin-show" href=" {{ path('admin_contact_show', {'id': message.id}) }}" title="Voir en détails l'actualité">Voir</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>   
            </div>
        </section>
        <hr style="border: 1px solid black;">
        
        {% if maxPage > 1  %}
            <nav class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    {% for i in 1..maxPage  %}
                    <li>
                        {% if i == page%}
                            <a class="pagination-link is-current" href="{{ path('admin_contact') }}?page={{ i }}&limit={{limit}}" title="Page {{i}}"> {{ i }} </a>
                        {% else %}
                            <a class="pagination-link" href="{{ path('admin_contact') }}?page={{ i }}&limit={{limit}}" title="Aller à la page {{i}}"> {{ i }} </a>
                        {% endif %}
                    </li>
                    {% endfor%}
                </ul>   
                </nav>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}
