{% extends 'admin_contact/index.html.twig' %}

{% block title %}Messages{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
  <div class="container admin-container is-responsive">
    <table class="table is-hoverable is-stripped is-responsive">
        <tbody>
            <tr>
                <th scope="row">Reçu le</th>
                <td>{{ message.createdAt ? message.createdAt|date('d/m/Y à H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th scope="row">Auteur</th>
                <td>{{ message.username }}</td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td>{{ message.email }}</td>
            </tr>
             <tr>
                <th scope="row">Titre</th>
                <td>{{ message.title }}</td>
            </tr>
            <tr>
                <th scope="row">Contenu</th>
                <td>{{ message.content | raw }}</td>
            </tr>
           
        </tbody>
    </table>

    <hr style="border: 1px solid black;">
    <div class="columns">
        <div class="column is-5">
            <a href="{{ path('admin_contact') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page de contact</a>
        </div>
    </div>
    </div>
{% endblock %}