{###################################################################################################################}
{#                           FORMULAIRE POUR L'EDITION D'UN UTILISATEUR (PUBLIC)                                #}
{###################################################################################################################}
{{ form_start(form) }}
<div class="field">
    <label class="label">Nom utilisateur :&nbsp;&nbsp; <i class="fas fa-asterisk"></i>
    <a href="#" class="popup-link"><i class="fas fa-info"></i>
        <span class='popup'><i class="fas fa-asterisk"></i>&nbsp;&nbsp; = champs obligatoires
            <br>Vous devez valider votre mot de passe (mot de passe + confirmation) pour prendre en compte les modifications
            <br>Le téléphone doit être de type 0123456789 (10 chiffres), ou 123456789 (9 chiffres sans le premier zéro) ou vide
        </span>
    </a>
    </label>
    <div class="control">
        {{ form_widget(form.username) }}
    </div>
</div>

<div class="field">
    <label class="label">Nom :</label>
    <div class="control">
        {{ form_widget(form.lastName) }}
    </div>
</div>

<div class="field">
    <label class="label">Prénom :</label>
    <div class="control">
         {{ form_widget(form.firstName) }}
    </div>
</div>

<div class="field">
    <label class="label">Email :&nbsp;&nbsp; <i class="fas fa-asterisk"></i></label>
    <div class="control">
         {{ form_widget(form.email) }}
    </div>
</div>

<div class="field">
    <label class="label">Mot de passe : &nbsp;&nbsp; <i class="fas fa-asterisk"></i></label>
    <div class="control">
        {{ form_widget(form.hash) }}
    </div>
</div>

<div class="field">
    <label class="label">Confirmer votre mot de passe : &nbsp;&nbsp; <i class="fas fa-asterisk"></i> &nbsp;&nbsp;<span id="mdP_result"></span></label>
    <div class="control">
        <input class="input" type="password" placeholder="Confirmer votre mot de passe" id="Conf_MdP" name="Conf_MdP">
    </div>
</div>

<div class="field">
    <label class="label">Téléphone : &nbsp;&nbsp;<span class="tel_result"></span></label>
    <div class="control">
        {{ form_widget(form.phone) }}
    </div>
</div>

<div class="field">
    <label class="label">Adresse :</label>
    <div class="control">
        {{ form_widget(form.address) }}
    </div>
</div>

<div class="field">
    <div class="checkbox">
        <label class="label">
            {{ form_widget(form.newsLetter) }}
            {% if app.user.newsLetter %} 
                Vous êtes inscrit à la newsletter.
                <a href="#" class="popup-link"><i class="fas fa-info"></i><span class='popup'>Décocher la case pour se desinscrire</span></a>
            {% else %}
                Vous n'êtes inscrit pas inscrit à la newsletter.
                <a href="#" class="popup-link"><i class="fas fa-info"></i><span class='popup'>Cocher la case pour s'inscrire</span></a>
            {% endif %}
        </label>
    </div>
</div>

<div class="field">
    <div class="control">
      {{ form_widget(form.save) }}
    </div>
</div>
{{ form_end(form) }}  
