{#{% extends 'admin.html.twig' %}#}
{% extends 'user/index.html.twig' %}

{% block title %}Edition utilisateurs{% endblock %}
{% block body %}
    <div class="container admin-container-new">

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        <hr style="border: 1px solid black;">
        <div class="columns">
            <div class="column is-3">
                <a href="{{ path('user_profil') }}" title="Retour à mon profil"><i class="fas fa-arrow-left"></i> Retour</a>
            </div>
        </div>
    
    </div>
{% endblock %}

{% block search %} {% endblock %}
{% block scriptgoogleapi %}{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/form-validation.js') }}"></script>
{% endblock %}

