{% extends 'base.html.twig' %}

{% block title %}Compte utilisateur{% endblock %}

{% block search %} {% endblock %}
{% block scriptgoogleapi %}{% endblock %}

{% block body %}
<div class="container is-centered">
    {###################################################################################################################}
    {#                     AFFICHAGE DES INFORMATIONS SUR LA COMMANDE DE LIVRES                                        #}
    {#######################################s############################################################################}
    <button class="button btn-info">Infos</button>
    <div class="columns admin-home is-centered admin-info" style="display:none;">
        <div class="column is-10">
            <div class="box">
                <h2 class="subtitle"><i class="fas fa-info-circle"></i>&nbsp; Mes informations</h2>
                <p>
                    Pour commander un livre, il vous suffit d'effectuer une des actions suivantes :
                    <ul>
                        <li>Si vous souhaitez commander l'un des coups de coeur de vos libraire, <strong>cliquez sur commander</strong>, votre libraire recevra votre demande.</li>
                        <li><strong>Remplir le formulaire</strong>, disponible <a href="{{ path('contact')}}">ici</a>, choississez comme sujet "Commander un livre", indiquez votre nom, votre email, 
                        ainsi que le livre que vous souhaitez en indiquant le titre, l'auteur et l'éditeur.</li>
                        <li><strong>Rendez-vous chez votre libraire</strong>, au 68 place Mirabeau à PERTUIS (84120), voir le plan <a href="{{ path('contact')}}">ici</a> </li>
                    </ul>
                    Un livre par commande.
                </p>
                <p>
                    <br>Vous recevrez un message par email ou par téléphone lorsqu'il sera disponible. 
                </p>
            </div>
        </div>
    </div>
    
    {###################################################################################################################}
    {#                     AFFICHAGE DE L'HISTORIQUE DES COMMANDES EFFECTUES                                           #}
    {###################################################################################################################}
    <div class="columns admin-home is-centered">
        <div class="column is-10">
            <div class="box">
                <h2 class="subtitle"><i class="fas fa-shopping-cart"></i>&nbsp; Mes commandes</h2>
                {% if commands %}
                <table class="table is-hoverable is-stripped is-responsive is-bordered">
                    <thead>
                        <tr>
                            <th scope="col" class="is-light">Commandé le</th>
                            <th scope="col" class="is-light">Titre</th>
                            <th scope="col" class="is-light">Auteur</th>
                             <th scope="col" class="is-light">ISBN</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for command in commands %}
                        <tr>
                            <td> {{ command.sentAt | date('d/m/Y')  }}  </td>
                            <td> {{ command.title }} </td>
                            <td> {{ command.author }} </td>
                            <td> {{ command.isbn }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <p> Vous n'avez pas encore passé de commande</p>
                {% endif %}
            </div> 
        </div>
    </div>
    
    {###################################################################################################################}
    {#                             AFFICHAGE DU PROFIL DE L'UTILISATEUR                                                #}
    {###################################################################################################################}
    <div class="columns admin-home is-centered">
        <div class="column is-10">
            <div class="box">
                <h2 class="subtitle"><i class="fas fa-user"></i>&nbsp; Mon compte</h2>
                <table class="table is-hoverable is-stripped is-responsive">
                    <tbody>
                        <tr>
                            <th>Nom utilisateur</th>
                            <td> {{ app.user.username }}  </td>
                        </tr>
                        <tr>
                            <th>Prénom</th>
                            <td> {{ app.user.firstName}}  </td>
                        </tr>
                        <tr>
                            <th>Nom</th>
                            <td> {{ app.user.lastName }}  </td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td> {{ app.user.email }}  </td>
                        </tr>
                        <tr>
                            <th>Téléphone</th>
                            <td> {{ app.user.phone }}  </td>
                        </tr>
                        <tr>
                            <th>Adresse</th>
                            <td> {{ app.user.address }}  </td>
                        </tr>
                        <tr>
                            <th>Newsletter</th>
                            <td> {% if app.user.newsLetter %} 
                                Vous étes inscrit à la newsletter
                            {% else %}
                                Vous n'êtes pas inscrit à la newsletter
                            {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div claas="profil-edit">
                    <a class="button button-home is-info" href="{{ path('user_edit', {'id': app.user.id}) }}">Modifier mon profil</a>
                </div>
            </div> 
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/dashboard.js') }}"></script>
{% endblock %}