{###################################################################################################################}
{#                        FORMULAIRE POUR LA DESTRUCTION D'UN COUP DE COEUR                                        #}
{###################################################################################################################}
<form method="post" action="{{ path('admin_heartstroke_delete', {'id': heartstroke.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce coup de coeur?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ heartstroke.id) }}">
    <button class="button is-danger admin-delete" title="Supprimer le coup de coeur">Supprimer</button>
</form>