{###################################################################################################################}
{#                           FORMULAIRE POUR L'EDITION D'UN COUP DE COEUR                                          #}
{###################################################################################################################}
{{ form_start(form) }}
<div class="field" style="width: auto;">
    <label class="label">Titre : </label>
    <div class="control">
        {{ form_widget(form.title) }}
    </div>
</div>

<div class="field" style="max-width: 400px;">
    <label class="label">Auteur(s) : </label>
    <div class="control">
        {{ form_widget(form.authors) }}
    </div>
</div>

<div class="field">
    <label class="label">Avis : </label>
    <div class="control">
        {{ form_widget(form.opinion) }}
    </div>
</div>

<div class="field">
    <label class="label">Description : </label>
    <div class="control">
        {{ form_widget(form.description) }}
    </div>
</div>

<div class="field" style="max-width: 200px;">
    <label class="label">Editeur : </label>
    <div class="control">
        {{ form_widget(form.publisher) }}
    </div>
</div>

<div class="field" style="max-width: 200px;">
    <label class="label">Date de parution : </label>
    <div class="control">
        {{ form_widget(form.publishedDate) }}
    </div>
</div>

<div class="field" style="max-width: 200px;">
    <label class="label">Prix : </label>
    <div class="control">
        {{ form_widget(form.price) }}
    </div>
</div>

<div class="field"  style="max-width: 200px;">
    <label class="label">Devise : </label>
    <div class="control">
        {{ form_widget(form.priceCurrency) }}
    </div>
</div>

<div class="field"style="max-width: 200px;">
    <label class="label">ISBN : </label>
    <div class="control">
        {{ form_widget(form.isbn) }}
    </div>
</div>

<div class="field">
    <label class="label">URL de la couverture : </label>
    <div class="control">
        {{ form_widget(form.imageLink) }}
    </div>
</div>

<div class="field" style="max-width: 200px;">
    <label class="label">Catégorie : </label>
    <div class="select is-fullwidth">
        {{ form_widget(form.category) }}
    </div>
</div>

<div class="field" style="max-width: 200px;">
    <label class="label">Utilisateur : </label>
    <div class="select is-fullwidth">
        {{ form_widget(form.user) }}
    </div>
</div>

<div class="field">
    <div class="control">
        {{ form_widget(form.save) }}
    </div>
</div>

{{ form_end(form) }}
