{###################################################################################################################}
{#                           FORMULAIRE POUR LA CREATION D'UN COUP DE COEUR                                        #}
{###################################################################################################################}
{{ form_start(form) }}
<div class="field">
    <label class="label">Titre : </label>
    <div class="control">
        {{ form_widget(form.title) }}
    </div>
</div>

  <div class="field">
    <label class="label">Avis : </label>
    <div class="control">
        {{ form_widget(form.opinion) }}
    </div>
</div>

<div class="field">
    <label class="label">Catégorie : </label>
    <div class="select is-fullwidth">
        {{ form_widget(form.category) }}
    </div>
</div>

<div class="field">
    <div class="control">
        {{ form_widget(form.save) }}
    </div>
</div>

{{ form_end(form) }}
