{% extends 'admin_heart_stroke/index.html.twig' %}

{% block title %}Edition coups de coeur{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
    <div class="container admin-container-new">

    {{ include('admin_heart_stroke/_edit_form.html.twig', {'button_label': 'Update'}) }}

        <hr style="border: 1px solid black;">
        <div class="columns">
            <div class="column is-5">
                <a href="{{ path('admin_heartstroke') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des coups de coeurs</a>
            </div>
            <div class="column">
                {% if is_granted('ROLE_ADMIN') %}
                    {{ include('admin_heart_stroke/_delete_form.html.twig') }}
                {% endif %}
            </div>
        </div>
    
    </div>
{% endblock %}

{###################################################################################################################}
{#                                            SCRIPTS                                                              #}
{###################################################################################################################}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/js/form-validation.js') }}"></script>
{% endblock %}