{% extends 'admin.html.twig' %}

{% block title %}Admin coup de coeur{% endblock %}

{###################################################################################################################}
{#                         HEADER (BOUTON AJOUTER + BARRE DE RECHERCHE)                                            #}
{###################################################################################################################}
{% block header %}
<div class="container">
    <h1 class="title">Coups de coeur
        <a href="#" class="popup-link"><i class="fas fa-info"></i>
        <span class='popup'>Pour ajouter un coup de coeur, recherchez votre livre par mot clé ou par gencode, séléctionner le, puis rédigez votre avis</span>
        </a>
    </h1>
    <form method="GET" class="admin-search">
        <div class="field">
            <div class="control">
                <a class="button is-light" href= " {{ path('admin_heartstroke_new') }}" title="Ajouter un coup de coeur">Nouveau coup de coeur</a>
                <a class="button is-light" href= " {{ path('admin_heartstroke_newManually') }}" title="Ajouter un coup de coeur">Saisie manuelle</a>
            </div>
        </div>
        
        <div class="admin-searchBarButton">
            <div class="field">
                <div class="control has-icons-left admin-searchBar">
                    <input type="search" placeholder="Rechercher un coup de coeur" name='s'  id="searchEv" class="input">
                    <span class="icon is-small is-left">
                        <i class="fas fa-search"></i>
                    </span>
                </div>
            </div>
        
            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-light" title="Rechercher un coup de coeur">Rechercher</button>
                    <a href="#" class="popup-link"><i class="fas fa-info"></i>
                        <span class='popup'>Rechercher parmis le titre, l'avis, la description, la date, l'auteur du coup du coeur mais aussi parmis la date de publication et l'isbn du livre </span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>  
{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
    {% if heartstrokes %}
    <div class="container admin-container">
        <form method="POST">
            <div class="admin-pagination">
                <label class="label">Résultats par page :</label>
                <div class="select">
                    <select name="limit">
                        {% for i in [20,50,100]  %}
                            {% if i == limit%}
                                <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor%}
                    </select>
                </div>
                <button type="submit" class="button is-info" title="Valider la pagination">OK</button>
            </div>
           
        </form> 
    
        <section class="section">
        <div class="responsive-table">
            <table class="table is-fullwidth is-hoverable is-stripped">
                <thead>
                    <tr>
                        <th scope="col">Auteur</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Crée le</th>
                        <th scope="col">Couverture</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for heartstroke in heartstrokes %}
                    <tr>
                        <td> {{ heartstroke.user.username }} </td>
                        <td> {{ heartstroke.title | split(' ') | slice(0, 5) | join(' ') }} </td>
                        <td> {{ heartstroke.category.name }} </td>
                        <td> {{ heartstroke.createdAt | date('d/m/Y')  }} </td>
                        <td><img src="{{ heartstroke.imageLink }}"></td>
                        <td>
                            <a class="button is-info admin-show" href=" {{ path('admin_heartstroke_show', {'id': heartstroke.id}) }}" title="Voir en détails le coup de coeur">Voir</a>
                        </td> 
                        <td>
                            <a class="button is-info admin-edit" href=" {{ path('admin_heartstroke_edit', {'id': heartstroke.id}) }}" title="Modifier le coup de coeur">Editer</a>
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ include('admin_heart_stroke/_delete_form.html.twig') }}
                            {% endif %}
                        </td>
                    </tr>
            {% endfor %}
                </tbody>
            </table>
        </div> {# RESPONSIVE-TABLE #}
        </section>
        <hr style="border: 1px solid black;">
        
        {###################################################################################################################}
        {#                                         PAGINATION                                                              #}
        {###################################################################################################################}
        {% if maxPage > 1  %}
            <nav class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    {% for i in 1..maxPage  %}
                    <li>
                        {% if i == page%}
                            <a class="pagination-link is-current" href="{{ path('admin_heartstroke') }}?page={{ i }}&limit={{limit}}" title="Page {{i}}"> {{ i }} </a>
                        {% else %}
                            <a class="pagination-link" href="{{ path('admin_heartstroke') }}?page={{ i }}&limit={{limit}}" title="Aller à la page {{i}}"> {{ i }} </a>
                        {% endif %}
                    </li>
                    {% endfor%}
                </ul>   
                </nav>
        {% endif %}
    </div>
    {% endif %}
{% endblock %}