{% extends 'admin_heart_stroke/index.html.twig' %}

{% block title %}Nouveau coup de coeur {% endblock %}

{###################################################################################################################}
{#                      FORMULAIRE POUR LA RECHERCHE D'UN COUP DE COEUR                                            #}
{###################################################################################################################}
{% block body %}
<div class="container admin-container-new">
    <div class="title subtitle addStepInfo StepInfo1">Chercher votre livre coup de coeur</div>  
    <div class="columns addHeartstroke">
        <form class="column is-three-fifths searchByField">
            <div class="search-subtitle">Par mots-clés</div>
            <div class="field">
                <div class="control">
                    <input type="text" class="input advanced-search-title" name='title' placeholder="Chercher par titre">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" class="input advanced-search-author" name='author' placeholder="Chercher par Auteur">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input type="text" class="input  advanced-search-publisher" name='publisher' placeholder="Chercher par Editeur">
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-success heart-stroke-search">Chercher</button>
            </div>
        </form>
        
        <form class="column searchByGencode">
            <div class="search-subtitle">Par GENCODE</div>
            <div class="field">
                <div class="control">
                    <input class="input" name='gencode' type="text" placeholder="Entrer le Gencode">
                </div>
            </div>
            <div class="control">
                <button type="submit" class="button is-success heart-stroke-gencode-search">Chercher</button>
            </div>
        </form>
        <div class="formLocation">admin</div>
    </div>
    
    
    <div class="title subtitle addStepInfo StepInfo2">Selectionnez votre livre</div> 
    <div class="results">
      {#AFFICHER LES RESULTATS DE LA RECHERCHE ICI#}
    </div>
    
    <div class="title subtitle addStepInfo StepInfo3">Livre Selectionné</div> 
    <div class="addHeartStrokeForm">
        <div id="heartstroke-details">
          {#AFFICHER LES DETAILS DU LIVRE CHOISI ICI#}
          <p>Avant</p>
        </div>
        {{ include('admin_heart_stroke/_form.html.twig') }}
    </div>

    <hr style="border: 1px solid black;">
    <div class="columns">
        <div class="column is-5">
            <a href="{{ path('admin_heartstroke') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des coups de coeur</a>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/api-google.js') }}"></script>
{% endblock %}
