{% extends 'admin_heart_stroke/index.html.twig' %}

{% block title %}Nouveau coup de coeur {% endblock %}

{###################################################################################################################}
{#                      FORMULAIRE POUR LA RECHERCHE D'UN COUP DE COEUR                                            #}
{###################################################################################################################}
{% block body %}
    <div class="container admin-container-new">

    {{ include('admin_heart_stroke/_newManually_form.html.twig', {'button_label': 'newManually'}) }}

        <hr style="border: 1px solid black;">
        <div class="columns">
            <div class="column is-5">
                <a href="{{ path('admin_heartstroke') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des coups de coeurs</a>
            </div>
        </div>
    
    </div>
{% endblock %}

