{% extends 'admin_heart_stroke/index.html.twig' %}

{% block title %}Résultat de votre recherche{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS DE LA RECHERCHE SUR FORME DE TABLEAU                                #}
{###################################################################################################################}
{% block body %}
    <div class="container admin-container">
    {% if heartstrokes %}
        <form method="POST">
            <div class="admin-pagination">
                <label class="label">Résultats par page :</label>
                <div class="select">
                    <select name="limit">
                        {% for i in [10,20,50,100]  %}
                            {% if i == limit%}
                                <option value="{{i}}" selected="selected">{{i}}</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor%}
                    </select>
                </div>
            <button type="submit" class="button is-info">OK</button>
            </div>
        </form> 
        
        <section class="section">
            <table class="table is-fullwidth is-hoverable is-stripped is-responsive">
                <thead>
                    <tr>
                        <th scope="col">Auteur</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Catégorie</th>
                        <th scope="col">Crée le</th>
                        <th>Couverture</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for heartstroke in heartstrokes %}
                    <tr>
                        <td> {{ heartstroke.user.username }} </td>
                        <td> {{ heartstroke.title | split(' ') | slice(0, 5) | join(' ') }} </td>
                        <td> {{ heartstroke.category.name }} </td>
                        <td> {{ heartstroke.createdAt | date('d/m/Y')  }} </td>
                        <td><img src="{{ heartstroke.imageLink }}"></td>
                        <td>
                            <a class="button is-info admin-show" href=" {{ path('admin_heartstroke_show', {'id': heartstroke.id}) }}" title="Voir en détails le coup de coeur">Voir</a>
                        </td> 
                        <td>
                            <a class="button is-info admin-edit" href=" {{ path('admin_heartstroke_edit', {'id': heartstroke.id}) }}" title="Modifier le coup de coeur">Editer</a>
                        </td>
                        <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ include('admin_heart_stroke/_delete_form.html.twig') }}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    {% endif %}

        <a href="{{ path('admin_heartstroke') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des coups de coeur</a>
        
        <hr style="border: 1px solid black;">
        
        {###################################################################################################################}
        {#                                         PAGINATION                                                              #}
        {###################################################################################################################}
        {% if maxPage > 1  %}
            <nav class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list">
                    {% for i in 1..maxPage  %}
                    <li>
                        {% if i == page%}
                            <a class="pagination-link is-current" href="{{ path('admin_heartstroke') }}?s={{ search }}&page={{ i }}&limit={{limit}}" title="Page {{i}}"> {{ i }} </a>
                        {% else %}
                            <a class="pagination-link" href="{{ path('admin_heartstroke') }}?s={{ search }}&page={{ i }}&limit={{limit}}" title="Aller à la page {{i}}"> {{ i }} </a>
                        {% endif %}
                    </li>
                    {% endfor%}
                </ul>
            </nav>
        {% endif %}
    </div>
{% endblock %}



