{% extends 'admin_heart_stroke/index.html.twig' %}

{% block title %}Coup de coeur{% endblock %}

{###################################################################################################################}
{#                     AFFICHAGE DES RESULTATS SUR FORME DE TABLEAU                                                #}
{###################################################################################################################}
{% block body %}
    <div class="container admin-container is-responsive">
        <img src="{{ heartstroke.imageLink }}">
    <table class="table is-hoverable is-stripped is-responsive">
        <tbody>
            <tr>
                <th scope="row">Titre</th>
                <td>{{ heartstroke.title }}</td>
            </tr>
            <tr>
                <th scope="row">Auteurs</th>
                <td>{{ heartstroke.authors }}</td>
            </tr>
            <tr>
                <th scope="row">Publié le</th>
                <td>{{ heartstroke.publishedDate }}</td>
            </tr>
            <tr>
                <th scope="row">Editeur</th>
                <td>{{ heartstroke.publisher }}</td>
            </tr>
            <tr>
                <th scope="row">Prix</th>
                <td>{{ heartstroke.price }} {{ heartstroke.priceCurrency }}</td>
            </tr>
             <tr>
                <th scope="row">ISBN</th>
                <td>{{ heartstroke.isbn }}</td>
            </tr>
            <tr>
                <th scope="row">Catégorie</th>
                <td>{{ heartstroke.category.name }}</td>
            </tr>
            <tr>
                <th scope="row">Résumé</th>
                <td>{{ heartstroke.description  | striptags }}</td>
            </tr>
        </tbody>
    </table>   
            
    <table class="table is-hoverable is-stripped is-responsive">
        <tbody>
            <tr>
                <th scope="row">Rédigé le</th>
                <td>{{ heartstroke.createdAt ? heartstroke.createdAt|date('d/m/Y à H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th scope="row">Par </th>
                <td>{{ heartstroke.user.username }}</td>
            </tr>
            <tr>
                <th scope="row">Avis</th>
                <td>{{ heartstroke.opinion | striptags }}</td>
            </tr>
        </tbody>
    </table>
    
    <hr style="border: 1px solid black;">
    <div class="columns">
        <div class="column is-5">
            <a href="{{ path('admin_heartstroke') }}" title="Retour à la liste"><i class="fas fa-arrow-left"></i> Retour à la page des coups de coeur</a>
        </div>
        <div class="column is-2">
            <a class="button is-info admin-edit" title="Modifier le coup de coeur" href="{{ path('admin_heartstroke_edit', {'id': heartstroke.id}) }}">Editer</a>
        </div>
        <div class="column is-2">
            {% if is_granted('ROLE_ADMIN') %}
                {{ include('admin_heart_stroke/_delete_form.html.twig') }}
            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}